Repository hmcts/opal-fines-service, pull requests merged in 2023-11, with the labels that each got.

#24 PO-39 Abraham added the 2 initial tables and their sequences for Accou…
  src/main/resources/db/migration/V20231107_001__defendants_accounts.sql
  src/main/resources/db/migration/V20231107_002__notes.sql
  src/main/resources/db/migration/V20231109_003__defendant_account_id_seq copy.sql
  src/main/resources/db/migration/V20231109_004__note_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-account-enquiry-pr-24

#26 Disable DB migration on pipeline, instead run on app startup
  Jenkinsfile_CNP
  charts/opal-account-enquiry/Chart.yaml
  charts/opal-account-enquiry/values.yaml
Labels: ns:opal, prd:opal, rel:opal-account-enquiry-pr-26

#28 PO-46: Rename database to opal-fines-db
  README.md
  charts/opal-account-enquiry/Chart.yaml
  charts/opal-account-enquiry/values.dev.template.yaml
  charts/opal-account-enquiry/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/dev/ContainerConfiguration.java
Labels: ns:opal, prd:opal, destroy, rel:opal-account-enquiry-pr-28

#27 Po 48 defendant account service
  README.md
  build.gradle
  lombok.config
  postman/DefendantAccount.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/opal/Application.java
  src/main/java/uk/gov/hmcts/opal/config/db/migration/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/opal/config/db/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/opal/config/db/migration/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountEnquiryDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountEnquiryDtoTest.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-27

#31 Optimise and cleanup code
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-31

#36 Po 44 make get defendant account api query driven
  README.md
  postman/DefendantAccount.postman_collection.json
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-36

#40 feat: PO-60 & PO-61: Add config switch and REST controller to toggle that
  build.gradle
  config/owasp/suppressions.xml
  postman/TestingSupportController.postman_collection.json
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/opal/dto/AppMode.java
  src/main/java/uk/gov/hmcts/opal/service/DynamicConfigService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/DynamicConfigServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-40

#30 Retrive multiple accounts by business unit
  postman/DefendantAccount.postman_collection.json
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-30

#43 Add README info on API docs/quality
  README.md
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-43

#50 PO-71- Fix CVE issues
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-50

#52 PO-40-add-dummy-data-insert-scripts
  src/main/resources/db/migration/V20231113_005__insert_notes.sql
  src/main/resources/db/migration/V20231117_007__insert_sample_defendant_accounts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-52

#46 Po 47 create note
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/entity/NoteEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/NoteRepository.java
  src/main/java/uk/gov/hmcts/opal/service/NoteService.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/NoteServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-46

#55 PO-96: Add Launch darkly Client for backend
  bin/utils/launchdarkly-flags.json
  build.gradle
  src/main/java/uk/gov/hmcts/opal/Application.java
  src/main/java/uk/gov/hmcts/opal/config/AopConfig.java
  src/main/java/uk/gov/hmcts/opal/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggle.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApi.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspect.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/config/LaunchDarklyConfigurationTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApiTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspectTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-55

#60 Feat/po 96: Add string variation for feature flags
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApi.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApiTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-60

#63 Remove gradle build warning
  build.gradle
Labels: ns:opal, prd:opal, no-changes, rel:opal-fines-service-pr-63
