Repository hmcts/opal-fines-service, pull requests merged in 2023-12, with the labels that each got.

#68 Revert "chore(deps): update plugin uk.gov.hmcts.java to v0.12.49"
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-68

#72 Resolve Spring and tomcat CVE's with version upgrade
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-72

#71 Po 43 requests to legacy gateway
  build.gradle
  postman/opal_notes.postman_collection.json
  src/main/java/uk/gov/hmcts/opal/config/rest/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/NoteServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/NoteServiceProxy.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/service/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/NoteServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-71

#73 PO-127 Abraham added more table scripts for Discovery plus in opal fines
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V20231203_008__business_units.sql
  src/main/resources/db/migration/V20231203_009__business_unit_id_seq.sql
  src/main/resources/db/migration/V20231203_010__courts.sql
  src/main/resources/db/migration/V20231203_011__court_id_seq.sql
  src/main/resources/db/migration/V20231203_012__results.sql
  src/main/resources/db/migration/V20231203_013__result_id_seq.sql
  src/main/resources/db/migration/V20231204_014__enforcers.sql
  src/main/resources/db/migration/V20231204_015__enforcer_id_seq.sql
  src/main/resources/db/migration/V20231204_016__local_justice_areas.sql
  src/main/resources/db/migration/V20231204_017__local_justice_area_id_seq.sql
  src/main/resources/db/migration/V20231204_018__defendants_accounts.sql
  src/main/resources/db/migration/V20231204_019__defendant_account_id_seq.sql
  src/main/resources/db/migration/V20231204_020__parties.sql
  src/main/resources/db/migration/V20231204_021__party_id_seq.sql
  src/main/resources/db/migration/V20231204_022__defendant_account_parties.sql
  src/main/resources/db/migration/V20231204_023__defendant_account_party_id_seq.sql
  src/main/resources/db/migration/V20231204_024__defendant_transactions.sql
  src/main/resources/db/migration/V20231204_025__defendant_transaction_id_seq.sql
  src/main/resources/db/migration/V20231204_026__debtor_detail.sql
  src/main/resources/db/migration/V20231204_027__debtor_detail_id_seq.sql
  src/main/resources/db/migration/V20231204_028__payment_terms.sql
  src/main/resources/db/migration/V20231204_029__payment_terms_id_seq.sql
  src/main/resources/db/migration/V20231204_030__tills.sql
  src/main/resources/db/migration/V20231204_031__till_id_seq.sql
  src/main/resources/db/migration/V20231205_032__fixed_penalty_offences.sql
  src/main/resources/db/migration/V20231205_033__notes.sql
  src/main/resources/db/migration/V20231205_034__payments_in.sql
  src/main/resources/db/migration/V20231205_035__payment_in_id_seq.sql
  src/main/resources/db/migration/V20231205_036__documents.sql
  src/main/resources/db/migration/V20231205_037__document_id_seq.sql
  src/main/resources/db/migration/V20231205_038__document_instances.sql
  src/main/resources/db/migration/V20231205_039__document_instance_id_seq.sql
  src/main/resources/db/migration/V20231205_040__account_transfers.sql
  src/main/resources/db/migration/V20231205_041__account_transfer_id_seq.sql
  src/main/resources/db/migration/V20231205_042__mis_debtors.sql
  src/main/resources/db/migration/V20231205_043__mis_debtor_id_seq.sql
  src/main/resources/db/migration/V20231205_044__enforcements.sql
  src/main/resources/db/migration/V20231205_045__enforcement_id_seq.sql
  src/main/resources/db/migration/V20231206_046__prisons.sql
  src/main/resources/db/migration/V20231206_047__prison_id_seq.sql
  src/main/resources/db/migration/V20231206_048__committal_warrant_progress.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-73

#67 Establish new API endpoint.
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountSearchResultsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountSummaryDto.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchDtoTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchResultsDtoTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSummaryDtoTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-67

#75 Add initial code to support Party data retrieval.
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/opal/controllers/PartyController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DateDto.java
  src/main/java/uk/gov/hmcts/opal/dto/PartyDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountSummary.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApi.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/PartyRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyProxy.java
  src/main/java/uk/gov/hmcts/opal/service/NoteServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/PartyService.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceProxy.java
  src/main/resources/tempData.json
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PartyControllerTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchDtoTest.java
  src/test/java/uk/gov/hmcts/opal/dto/PartyDtoTest.java
  src/test/java/uk/gov/hmcts/opal/entity/PartyEntityTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApiTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspectTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyProxyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/PartyServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/PartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-75

#79 Test possible fix for broken build
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-79

#81 Remove code that creates a deprecated warning
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApi.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-81

#83 PO-135: Fix Deprecation warnings for Launch Darkly
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApi.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApiTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-83

#85 Po 57 serenity automation for api testing
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/opal/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/opal/Junit5RunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/opal/controllers/SampleFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BaseStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/HealthApiStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/NotesApiStepDef.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/features/healthAPI.feature
  src/functionalTest/resources/features/notesAPI.feature
  src/functionalTest/resources/junit-platform.properties
  src/functionalTest/resources/serenity.conf
  src/smokeTest/java/uk/gov/hmcts/opal/BaseSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/opal/controllers/SampleSmokeTest.java
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-85

#87 All enitites and repos required for accountdetails response population
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitsEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CourtsEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DebtorDetailEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountPartiesEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcersCourtsBaseEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcersEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/NoteEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PaymentTermsEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/BusinessUnitsRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/CourtsRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/DebtorDetailRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountPartiesRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/EnforcersRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/NoteRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/PaymentTermsRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/util/NamesUtil.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/NamesUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-87

#90 Add Entities to DB Annotations for Party -> DefendantAccount
  src/main/java/uk/gov/hmcts/opal/controllers/PartyController.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountPartiesEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountSummary.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PartySummary.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/PartyRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/PartyService.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountSummaryTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/PartyServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/PartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-90

#91 Add a canned data response to details endpoint
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/resources/tempDetailsData.json
  src/main/resources/tempSearchData.json
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-91
