Repository hmcts/opal-fines-service, pull requests merged in 2024-08, with the labels that each got.

#434 Po 210 process pending jobs
  postman/Opal Print.postman_collection.json
  src/main/java/uk/gov/hmcts/opal/config/AsyncConfig.java
  src/main/java/uk/gov/hmcts/opal/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/opal/config/PrintTransactionManagerConfig.java
  src/main/java/uk/gov/hmcts/opal/controllers/print/PrintRequestController.java
  src/main/java/uk/gov/hmcts/opal/entity/print/PrintJob.java
  src/main/java/uk/gov/hmcts/opal/repository/print/PrintDefinitionRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/print/PrintJobRepository.java
  src/main/java/uk/gov/hmcts/opal/service/print/AsyncPrintJobProcessor.java
  src/main/java/uk/gov/hmcts/opal/service/print/PrintService.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpLocation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/print/PrintRequestControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/print/PrintServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpLocationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-434

#482 insert representative xsl script and postman xml
  postman/Opal Print.postman_collection.json
  src/main/resources/db/migration/V20240801_227__insert_print_defintion.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-482

#487 PO-573 Update config items for Welsh BUs
  src/main/resources/db/migration/V20240806_228__update_welsh_bu_config.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-487

#486 PO-511: Allow for custom HTTP response codes on error
  src/main/java/uk/gov/hmcts/opal/controllers/ExceptionControllerAdvice.java
  src/test/java/uk/gov/hmcts/opal/controllers/ExceptionControllerAdviceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-486

#489 PO-511: Tweaks to create 'cleaner' builds
  src/main/java/uk/gov/hmcts/opal/controllers/ExceptionControllerAdvice.java
  src/test/java/uk/gov/hmcts/opal/controllers/ExceptionControllerAdviceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-489

#483 Po 476 debtor profile search
  src/main/java/uk/gov/hmcts/opal/controllers/CreateFineAccountsController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DebtorProfileSearchController.java
  src/main/java/uk/gov/hmcts/opal/dto/OpalS2SRequestWrapper.java
  src/main/java/uk/gov/hmcts/opal/dto/OpalS2SResponseWrapper.java
  src/test/java/uk/gov/hmcts/opal/controllers/CreateFineAccountsControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DebtorProfileSearchControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-483

#493 add swagger annotations
  src/main/java/uk/gov/hmcts/opal/controllers/CreateFineAccountsController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DebtorProfileSearchController.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-493

#497 PO-623 modified the DRAFT_ACCOUNTS table to add new column and rename…
  src/main/resources/db/migration/V20240815_229__modify_draft_accounts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-497

#501 PO-613 OFFENCES table. Add column plus reference data
  src/main/resources/db/migration/V20240819_230__add_date_offences.sql
  src/main/resources/db/migration/V20240819_231__update_dates_offences.sql
  src/main/resources/db/migration/V20240819_232__update_oas_offences.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-501

#498 PO-591: GET Draft Account API implementation.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/GetDraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/exception/JsonSchemaValidationException.java
  src/main/java/uk/gov/hmcts/opal/service/DraftAccountServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationService.java
  src/main/java/uk/gov/hmcts/opal/util/DateTimeUtils.java
  src/main/java/uk/gov/hmcts/opal/util/KeepAsJsonDeserializer.java
  src/main/resources/jsonSchemas/getDraftAccountResponse.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationServiceTest.java
  src/test/resources/jsonSchemas/testSchema.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-498

#502 PO-641 add new column originator_id and remove column originator_refe…
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/resources/db/migration/V20240820_233__modify_defendant_accounts.sql
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-502

#507 add s2s to url and security whitelist
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/opal/controllers/CreateFineAccountsController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DebtorProfileSearchController.java
  src/test/java/uk/gov/hmcts/opal/controllers/DebtorProfileSearchControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-507

#505 PO-614: Add dateUsedFrom to Offence Entity, add more data to ref-data response
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/opal/entity/OffenceEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/OffenceReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/OffenceSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenceService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/OffenceControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/OffenceServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-505

#508 change table name to match postgres db
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-508

#510 PO-559: Add schema config excepton
  src/main/java/uk/gov/hmcts/opal/exception/SchemaConfigurationException.java
  src/main/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationService.java
  src/test/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-510

#514 PO-661 created additional users in Opal to match those created in Leg…
  src/main/resources/db/migration/V20240828_238__increase_user_description.sql
  src/main/resources/db/migration/V20240828_239__create_additional_users.sql
  src/main/resources/db/migration/V20240828_240__create_additional_bus_unit_users.sql
  src/main/resources/db/migration/V20240828_241__insert_additional_user_entitlements.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-514

#515 PO-722 Remove temporary table
  src/main/resources/db/migration/V20240823_236__enforcement_new_column.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-515
