Repository hmcts/opal-fines-service, pull requests merged in 2024-11, with the labels that each got.

#621 PO-904 Change Configuration Items item_values to json
  src/main/resources/db/migration/V20241031_274__change_item_values_to_json.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-621

#624 PO-952 remove Check and validate Draft Accounts permission from user1…
  src/main/resources/db/migration/V20241101_275__remove_checkvalidate_bu73_user10.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-624

#617 tests for PO-828
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountDeleteSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPutSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-828_getDraftAccountUserAuthorization.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-617

#625 PO-897 load initially identified pre-defined error messages
  src/main/resources/db/migration/V20241101_276__insert_user_defined_error_message.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-625

#620 PO-829: Add filtering by user permissions to GET draft account summaries
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-647_getDraftAccountsErrorHandling.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java.orig
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/util/UserStateUtil.java
  src/main/java/uk/gov/hmcts/opal/config/WebConfig.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/convert/DraftAccountStatusConverter.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountStatus.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-620

#623 PO-832 tests
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-606_getDraftAccounts.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-647_getDraftAccountsErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-832_getDraftAccountsNotSubBy.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-559_getDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-690_getDraftAccountErrorHandling.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-623

#627 PO-959 In the BUSINESS_UNIT_USERS table correct the business_unit_ids…
  src/main/resources/db/migration/V20241104_277__correct_business_unit_for_user9.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-627

#630 tests for PO-829
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-829_getDraftAccountsAuthorization.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-828_getDraftAccountUserAuthorization.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-630

#636 PO-936: Add 'submitted_by_name' to Draft Accounts.
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPutSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-591_createDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-691_postDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-747_patchDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-749_putDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-827_postDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-830_putDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-831_patchDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-606_getDraftAccounts.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-647_getDraftAccountsErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-832_getDraftAccountsNotSubBy.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-559_getDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-690_getDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-828_getDraftAccountUserAuthorization.feature
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AddDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ReplaceDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountSnapshots.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/resources/db/migration/V20241111_278__add_columns_to_draft_accounts.sql
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-636

#637 PO-769: Add 'status_message' to Draft Accounts
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-637

#647 Add new column vehicle_fixed_penalty to the FIXED_PENALTY_OFFENCES table
  src/main/java/uk/gov/hmcts/opal/entity/FixedPenaltyOffenceEntity.java
  src/main/resources/db/migration/V20241122_279__add_vehicle_fixed_penalty.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-647

#654 PO-932: Add Creditor Account details to Major Creditor ref data.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/MajorCreditorController.java
  src/main/java/uk/gov/hmcts/opal/entity/ConfigurationItemEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CreditorAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/MajorCreditorEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/MajorCreditorReferenceData.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MajorCreditorService.java
  src/test/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-654

#650 PO-1010 Deploy the interface files scripts from Capita
  src/dbUnitTest/interfaceFiles/p_int_payment_card_requests_unit_tests.sql
  src/dbUnitTest/interfaceFiles/p_int_payments_in_unit_tests.sql
  src/dbUnitTest/interfaceFiles/p_int_presented_cheques_unit_tests.sql
  src/dbUnitTest/interfaceFiles/p_run_interface_job_unit_test_data.sql
  src/dbUnitTest/interfaceFiles/p_run_interface_job_unit_tests.sql
  src/main/resources/db/migration/V20241125_280__interfaces_schema_changes.sql
  src/main/resources/db/migration/V20241125_281__load_configuration_items.sql
  src/main/resources/db/migration/V20241125_282__f_get_master_account_id.sql
  src/main/resources/db/migration/V20241125_283__p_insert_till.sql
  src/main/resources/db/migration/V20241125_284__p_insert_payment_in.sql
  src/main/resources/db/migration/V20241125_285__p_insert_interface_message.sql
  src/main/resources/db/migration/V20241125_286__p_int_payments_in.sql
  src/main/resources/db/migration/V20241125_287__p_int_payment_card_requests.sql
  src/main/resources/db/migration/V20241125_288__p_update_cheque_status.sql
  src/main/resources/db/migration/V20241125_289__p_update_creditor_transaction_status.sql
  src/main/resources/db/migration/V20241125_290__p_int_presented_cheques.sql
  src/main/resources/db/migration/V20241125_291__p_run_interface_job.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-650
