Repository hmcts/opal-fines-service, pull requests merged in 2024-05, with the labels that each got.

#342 PO-327: Add custom annotation for authorisation
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspect.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizedRoleHasPermission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/RoleNotFoundException.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/NoteServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-342

#347 PO-305 added the reference data load for local justice areas.
  src/main/resources/db/migration/V20240505_140__modify_local_justice_areas.sql
  src/main/resources/db/migration/V20240505_141__truncate_local_justice_areas.sql
  src/main/resources/db/migration/V20240505_142__exported_lja_inserts.sql
  src/main/resources/db/migration/V20240505_143__update_account_tranfers.sql
  src/main/resources/db/migration/V20240505_144__update_defendant_accounts.sql
  src/main/resources/db/migration/V20240505_145__enable_tables_lja_fks.sql
  src/main/resources/db/migration/V20240507_146__modify_tables_columns_1.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-347

#344 PO-312. Add LJA reference data endpoint & infrastructure code
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaController.java
  src/main/java/uk/gov/hmcts/opal/controllers/OffenceController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/LjaReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/dto/search/LocalJusticeAreaSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/LocalJusticeAreaEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/LjaReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LocalJusticeAreaSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/LocalJusticeAreaService.java
  src/test/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/LocalJusticeAreaServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-344

#352 PO-342 added foreign key to the courts table to link to parent local_…
  src/main/resources/db/migration/V20240508_147__update_courts_lja_data.sql
  src/main/resources/db/migration/V20240508_148__add_lja_fk_to_courts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-352

#348 PO-282: Automatically create required locations on Azure
  build.gradle
  charts/opal-fines-service/values.stg.template.yaml
  src/main/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJob.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpDirection.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpInboundService.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpLocation.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpOutboundService.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpService.java
  src/main/java/uk/gov/hmcts/opal/sftp/config/SftpConfiguration.java
  src/main/java/uk/gov/hmcts/opal/sftp/config/SftpConnection.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJobTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpInboundServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpLocationTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpOutboundServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-348

#354 PO-315: Add Court reference data endpoint & required infrastructure
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/EnforcerControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/CourtReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/entity/CourtEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerCourtBaseEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/CourtReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BaseCourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LocalJusticeAreaSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/CourtService.java
  src/test/java/uk/gov/hmcts/opal/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CourtServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-354

#356 PO-306 added scripts to load business units reference data that were …
  src/main/resources/db/migration/V20240513_149__cleanup_business_units.sql
  src/main/resources/db/migration/V20240513_150__add_column_to_business_units.sql
  src/main/resources/db/migration/V20240513_151__exported_bu_inserts.sql
  src/main/resources/db/migration/V20240513_152__enable_business_units_fks.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-356

#360 Tweaks to the Business Unit reference data
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/BusinessUnitReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/BusinessUnitReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitService.java
  src/test/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-360

#366 PO-359: auto-create success and error sub directories for inbound loca…
  src/main/java/uk/gov/hmcts/opal/sftp/SftpLocation.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpLocationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-366

#357 Ref data Rest assured tests
  src/functionalTest/java/uk/gov/hmcts/opal/Junit5RunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/Courts.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/LocalJusticeArea.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/Offences.java
  src/functionalTest/resources/features/opalMode/OffenceFeatures.feature
  src/functionalTest/resources/features/opalMode/courtsFeatures.feature
  src/functionalTest/resources/features/opalMode/localJusticeAreaFeatures.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-357

#361 Update build.gradle
  .github/renovate.json
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-361

#367 Po 313 bus units ref data
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BusinessUnitsStepDef.java
  src/functionalTest/resources/features/opalMode/businessUnitFeatures.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-367

#370 PO-348 and PO-319 to add new columns to MAJOR_CREDITORS tbale and pop…
  src/main/resources/db/migration/V20240520_153__add_columns_to_major_creditors.sql
  src/main/resources/db/migration/V20240520_154__exported_maj_cre_fines_inserts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-370

#363 PO-349: Add Major Creditor reference data endpoint & associated code
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/CourtsStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/MajorCreditorsStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/OffencesStepDef.java
  src/functionalTest/resources/features/opalMode/majorCreditorFeatures.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/MajorCreditorController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/MajorCreditorReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/entity/MajorCreditorEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/MajorCreditorReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MajorCreditorSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MajorCreditorService.java
  src/test/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-363

#377 PO-373 put back business unit id foreign key in the OFFENCES table
  src/main/resources/db/migration/V20240521_155__enable_offence_business_units_fk.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-377

#369 PO-316: Add Enforcer reference data endpoint & associated code
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BusinessUnitsStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/CommonMethods.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/CourtsStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/MajorCreditorsStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/OffencesStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/RefDataStepDef.java
  src/functionalTest/resources/features/opalMode/refDataFeatures.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/EnforcerControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/EnforcerController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/EnforcerReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/EnforcerReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EnforcerSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/EnforcerService.java
  src/test/java/uk/gov/hmcts/opal/controllers/EnforcerControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/EnforcerServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-369

#381 PO-388: Upgrade springboot version
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/BaseIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-381
