Repository hmcts/opal-fines-service, pull requests merged in 2024-03, with the labels that each got.

#229 Populate 'postedByAad' in Add/SaveNote
  src/main/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AccessTokenService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/opal/controllers/AccountTransferController.java
  src/main/java/uk/gov/hmcts/opal/controllers/ApplicationFunctionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitUserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/CommittalWarrantProgressController.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DebtorDetailController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantTransactionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DocumentInstanceController.java
  src/main/java/uk/gov/hmcts/opal/controllers/EnforcementController.java
  src/main/java/uk/gov/hmcts/opal/controllers/EnforcerController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaController.java
  src/main/java/uk/gov/hmcts/opal/controllers/MisDebtorController.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PartyController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PaymentInController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PaymentTermsController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PrisonController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TemplateController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TemplateMappingController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TillController.java
  src/main/java/uk/gov/hmcts/opal/controllers/UserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/UserEntitlementController.java
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitUserEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntitlementEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/BusinessUnitUserRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/UserEntitlementRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/UserRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserEntitlementService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/java/uk/gov/hmcts/opal/util/HttpUtil.java
  src/main/java/uk/gov/hmcts/opal/util/ResponseUtil.java
  src/test/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AccessTokenServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserEntitlementServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/ResponseUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-229

#235 Implement more performant code for retrieving UserState
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitUserEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntitlementEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserEntitlementSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserEntitlementService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserEntitlementServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserStateServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-235

#236 tests for @PO-184 @PO-187 @PO-188 @PO-192
  src/functionalTest/resources/features/opalMode/PO-184-187-188-192_addNote_postedBy_postedByAAD.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-236

#238 PO-231: Add integration tests
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-238

#237 Add new entities: Result & FixedPenaltyOffence
  .gitignore
  src/main/java/uk/gov/hmcts/opal/controllers/FixedPenaltyOffenceController.java
  src/main/java/uk/gov/hmcts/opal/controllers/ResultController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/FixedPenaltyOffenceSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ResultSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/FixedPenaltyOffenceEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/ResultEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/FixedPenaltyOffenceRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/ResultRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/FixedPenaltyOffenceSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ResultSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/FixedPenaltyOffenceServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/ResultServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyFixedPenaltyOffenceService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyResultService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/FixedPenaltyOffenceService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ResultService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/FixedPenaltyOffenceServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ResultServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/FixedPenaltyOffenceControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/ResultControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyFixedPenaltyOffenceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyResultServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/FixedPenaltyOffenceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/FixedPenaltyOffenceServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ResultServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-237

#242 Pass Business Unit Id to/from FE
  src/functionalTest/resources/features/opalMode/PO-184-187-188-192_addNote_postedBy_postedByAAD.feature
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/AddNoteDto.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserEntitlementService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-242

#247 Temp Fix: use 'Opal' CourtService in search
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-247

#248 PO-190: Add logs
  src/main/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserController.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-248

#249 Temp: Notes search to just use Opal side
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-249

#255 PO-234: Feature toggle add note
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureDisabledException.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggle.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspect.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/NoteServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureDisabledExceptionTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspectTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-255

#262 PO-241: Enable or disable Launch Darkly on env
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.yaml
  src/main/java/uk/gov/hmcts/opal/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/opal/config/properties/LaunchDarklyProperties.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspect.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/config/LaunchDarklyConfigurationTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspectTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-262

#246 Ensure user has permission to 'addNote' to defendant account
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountAddNoteStepDef.java
  src/functionalTest/resources/features/legacyMode/defendantAccountAddNoteLegacy.feature
  src/functionalTest/resources/features/opalMode/PO-184-187-188-192_addNote_postedBy_postedByAAD.feature
  src/functionalTest/resources/features/opalMode/defendantAccountAddNoteOpal.feature
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Permissions.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/config/properties/BeDeveloperConfiguration.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolver.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/main/java/uk/gov/hmcts/opal/util/HttpUtil.java
  src/main/java/uk/gov/hmcts/opal/util/PermissionUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolverTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/UserStateBuilder.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserStateServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/PermissionUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-246

#271 Add a 'developer' User to facilitate simpler BE development
  src/main/resources/db/migration/V20240318_095__insert_user_developer.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-271

#259 serenity-gradle-plugin version from 4.1.3 to 4.0.46
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-259

#272 PO-242 update test user endpoints to return user sate
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStepDef.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AccessTokenService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/test/java/uk/gov/hmcts/opal/authorisation/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-272

#274 PO-244 added script to update business unit ids in dependent OPAL tab…
  src/main/resources/db/migration/V20240319_096__update_dependent_business_units.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-274

#282 Fix PR pipeline issue
  .github/workflows/ci.yml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-282

#281 PO-227 added the scripts to create log and audit tables and retention…
  src/main/resources/db/migration/V20240320_097__log_actions.sql
  src/main/resources/db/migration/V20240320_098__log_action_id_seq.sql
  src/main/resources/db/migration/V20240320_099__log_audit_details.sql
  src/main/resources/db/migration/V20240320_100__log_audit_detail_id_seq .sql
  src/main/resources/db/migration/V20240320_101__configuration_items.sql
  src/main/resources/db/migration/V20240320_102__configuration_item_id_seq.sql
  src/main/resources/db/migration/V20240320_103__insert_configuration_items.sql
  src/main/resources/db/migration/V20240320_104__insert_log_actions.sql
  src/main/resources/db/migration/V20240320_105__user_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-281

#289 PO-254: Add integration tests
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-289

#288 PO-248 scripts to make business_unit_id in DOCUMENT_INSTANCES a forei…
  src/main/java/uk/gov/hmcts/opal/entity/DocumentInstanceEntity.java
  src/main/resources/db/migration/V20240322_106__update_document_instances.sql
  src/main/resources/db/migration/V20240322_107__modify_document_instances.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-288

#293 PO-253: Add quartz Scheduler
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/opal/BaseIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/opal/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/opal/scheduler/config/AutowiringSpringBeanJobFactory.java
  src/main/java/uk/gov/hmcts/opal/scheduler/config/CronJobConfiguration.java
  src/main/java/uk/gov/hmcts/opal/scheduler/config/QuartzConfiguration.java
  src/main/java/uk/gov/hmcts/opal/scheduler/exception/JobException.java
  src/main/java/uk/gov/hmcts/opal/scheduler/exception/JobNotFoundException.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/model/CronJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/model/JobData.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/JobService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20240326_108___add-quartz-tables.sql
  src/test/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/JobServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-293

#285 Ensure endpoints are accessed with authorised user
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/test/java/uk/gov/hmcts/opal/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserStateServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-285
