Repository hmcts/opal-fines-service, pull requests merged in 2024-09, with the labels that each got.

#516 Po 690 api exception handling
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/EnforcerControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ImpositionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogActionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/TillControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/opal/authentication/exception/CustomAuthenticationExceptions.java
  src/main/java/uk/gov/hmcts/opal/controllers/ExceptionControllerAdvice.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/controllers/exception/DataLookUpError.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/util/HttpUtil.java
  src/test/java/uk/gov/hmcts/opal/authentication/exception/CustomAuthenticationExceptionsTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/ExceptionControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/util/ResponseUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-516

#513 PO-559: Update DraftAccount POST endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AddDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountSnapshotsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountStatus.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DraftAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/main/resources/jsonSchemas/addDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-513

#518 Po 691 api exception handling
  src/main/java/uk/gov/hmcts/opal/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/opal/authentication/exception/CustomAuthenticationExceptions.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/opal/authentication/exception/CustomAuthenticationExceptionsTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-518

#519 PO-756: Add draft account DELETE endpoint
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/DraftAccountServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-519

#521 PO-701 Recreated the RESULTS table and populated with reference data …
  src/main/resources/db/migration/V20240905_242__cleanup_for_results.sql
  src/main/resources/db/migration/V20240905_243__recreate_results_table.sql
  src/main/resources/db/migration/V20240905_244__load_results_table.sql
  src/main/resources/db/migration/V20240905_245__restore_after_results.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-521

#526 Po 703 get results api
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/ResultController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ResultSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ResultEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/ResultReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/ResultRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ResultSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/ResultServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyResultService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ResultService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ResultServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/ResultControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyResultServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ResultServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-526

#527 Tests for PO 559 591
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/ModeSwitchStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountDeleteSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/utils/DataCleanUp.java
  src/functionalTest/java/uk/gov/hmcts/opal/utils/DraftAccountUtils.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-559_getDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-591_createDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/adultAccount.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/timelineJson/default.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-527

#530 Po 703 tests
  .github/renovate.json
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/GetResultsStepDef.java
  src/functionalTest/resources/features/opalMode/results/PO-703_results.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-530

#537 Rename all Roles to BusinessUnitUserPermissions & 'BusinessUserId' to 'BusinessUnitUserId'
  src/functionalTest/resources/features/opalMode/PO-235-Notes_RolesAndBusinessUnits.feature
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspect.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizedRoleHasPermission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/BusinessUnitUserPermissions.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/NoteController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserEntitlementService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/main/java/uk/gov/hmcts/opal/util/PermissionUtil.java
  src/test/java/uk/gov/hmcts/opal/authentication/aspect/LogAuditDetailsAspectTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/aspect/UserStateAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/UserStateBuilder.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/PermissionUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-537

#545 Remove banking file handling code for app yml
  src/main/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCashJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCheckJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/outbound/AllPayArchiveJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/AllPayArchiveService.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/AutoCashService.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/AutoCheckService.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpLocation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCashJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCheckJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/outbound/AllPayArchiveJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/AllPayArchiveServiceTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/AutoCashServiceTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/AutoCheckServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpLocationTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-545

#546 PO-802 make test user 1 both an inputter and a checker
  src/main/resources/db/migration/V20240920_257__assign_inputter_checker_permission.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-546

#548 submitted_by to be value passed in json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-559_getDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-591_createDraftAccount.feature
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-548

#552 Revert "PO-802 make test user 1 both an inputter and a checker"
  src/main/resources/db/migration/V20240920_257__assign_inputter_checker_permission.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-552

#553 PO-802 and 810 Reassign permissions to some users and remove duplicat…
  src/functionalTest/resources/features/opalMode/PO-235-Notes_RolesAndBusinessUnits.feature
  src/main/resources/db/migration/V20240925_258__reassign_inputter_checker_permissions.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-553

#543 add cache to Results controller and refactor code for consistency
  src/main/java/uk/gov/hmcts/opal/controllers/ResultController.java
  src/test/java/uk/gov/hmcts/opal/controllers/ResultControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-543

#539 PO-606: GET multiple Draft Account summaries
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/util/UserStateUtil.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/BusinessUnitUserPermissions.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DraftAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/main/resources/jsonSchemas/getDraftAccountsResponse.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-539
