Repository hmcts/opal-fines-service, pull requests merged in 2024-07, with the labels that each got.

#420 print service code with xml in payload
  build.gradle
  json_schemas/batch_print_jobs_schema_v1.json
  src/main/java/uk/gov/hmcts/opal/controllers/print/PrintRequestController.java
  src/main/java/uk/gov/hmcts/opal/entity/print/PrintDefinition.java
  src/main/java/uk/gov/hmcts/opal/entity/print/PrintJob.java
  src/main/java/uk/gov/hmcts/opal/entity/print/PrintStatus.java
  src/main/java/uk/gov/hmcts/opal/repository/print/PrintDefinitionRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/print/PrintJobRepository.java
  src/main/java/uk/gov/hmcts/opal/service/print/PrintService.java
  src/main/resources/db/migration/V20240628_195__insert_test_print_defintion.sql
  src/main/resources/fop.xml
  src/test/java/uk/gov/hmcts/opal/controllers/print/PrintRequestControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/print/PrintServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-420

#424 PO-494: Upgrade Java verion 21
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/publish-openapi.yaml
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-424

#415 PO-449: Add redis cache for permissions/userState
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-415

#419 PO-394 to PO-403 Create Table and Sequence Scripts
  src/main/resources/db/migration/V20240701_196__cheques.sql
  src/main/resources/db/migration/V20240701_197__cheque_id_seq.sql
  src/main/resources/db/migration/V20240701_198__bacs_payments.sql
  src/main/resources/db/migration/V20240701_199__bacs_payment_id_seq.sql
  src/main/resources/db/migration/V20240701_200__report_instances.sql
  src/main/resources/db/migration/V20240701_201__report_instance_id_seq.sql
  src/main/resources/db/migration/V20240701_202__warrant_register.sql
  src/main/resources/db/migration/V20240701_203__warrant_register_id_seq.sql
  src/main/resources/db/migration/V20240701_204__standard_letters.sql
  src/main/resources/db/migration/V20240701_205__standard_letter_id_seq.sql
  src/main/resources/db/migration/V20240701_206__result_documents.sql
  src/main/resources/db/migration/V20240701_207__result_document_id_seq.sql
  src/main/resources/db/migration/V20240701_208__reports.sql
  src/main/resources/db/migration/V20240701_209__control_totals.sql
  src/main/resources/db/migration/V20240701_210__control_total_id_seq.sql
  src/main/resources/db/migration/V20240701_211__hmrc_requests.sql
  src/main/resources/db/migration/V20240701_212__hmrc_request_id_seq.sql
  src/main/resources/db/migration/V20240701_213__report_entries.sql
  src/main/resources/db/migration/V20240701_214__report_entry_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-419

#393 Po 252 xml to json conversion for legacy response
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/dto/PartyDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/AccountActivitiesDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/AccountActivityDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountsSearchResults.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/ImpositionDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/ImpositionsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyAccountDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacySaveNoteResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/PartiesDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/PartyDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/PaymentTermsDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyService.java
  src/main/java/uk/gov/hmcts/opal/util/LocalDateAdapter.java
  src/main/java/uk/gov/hmcts/opal/util/LocalDateTimeAdapter.java
  src/main/java/uk/gov/hmcts/opal/util/XmlUtil.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyTestsBase.java
  src/test/java/uk/gov/hmcts/opal/util/LocalDateAdapterTest.java
  src/test/java/uk/gov/hmcts/opal/util/LocalDateTimeAdapterTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-393

#430 disable redis cache by default in local env
  README.md
  docker-compose.yml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-430

#422 PO-452: Add some initial code for Draft Accounts
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/DraftAccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/DraftAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DraftAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/DraftAccountServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-422

#433 Update README.md
  README.md
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-433

#436 PO-501 Fix minor issues with the CREATE TABLE scripts
  src/main/resources/db/migration/V20240709_219__standard_letters_fk_report_entries_not_null.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-436

#439 Some general changes to existing controllers, mainly changing 'api' to 'dev'
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ImpositionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogActionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/OffenceControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ResultControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/TillControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/AccountTransferController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/AliasController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/AmendmentController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ApplicationFunctionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/BusinessUnitUserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/CommittalWarrantProgressController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/CourtFeeController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/CreditorAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/CreditorTransactionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/DebtorDetailController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/DefendantTransactionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/DocumentController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/DocumentInstanceController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/EnforcementController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/FixedPenaltyOffenceController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ImpositionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/LogActionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/MisDebtorController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/MiscellaneousAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/NoteController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/PartyController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/PaymentInController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/PaymentTermsController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/PrisonController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ResultController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/SuspenseAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/SuspenseItemController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/SuspenseTransactionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/TemplateController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/TemplateMappingController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/TillController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/UserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/UserEntitlementController.java
  src/main/java/uk/gov/hmcts/opal/entity/TillEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/TillSpecs.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyOffenceServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-439

#442 PO-495: Add infra code for BacsPayment
  src/main/java/uk/gov/hmcts/opal/controllers/develop/BacsPaymentController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/BacsPaymentSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/BacsPaymentEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/BacsPaymentRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BacsPaymentSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/BacsPaymentServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyBacsPaymentService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BacsPaymentService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/BacsPaymentServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/BacsPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyBacsPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BacsPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/BacsPaymentServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-442

#443 PO-495: Infra code for Cheques
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ChequeController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ChequeSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ChequeEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/ChequeRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ChequeSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/ChequeServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyChequeService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ChequeService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ChequeServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/ChequeControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyChequeServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ChequeServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ChequeServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-443

#437 PO-463: Add orgName to Alias and welshLanguage to BusinessUnit
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/entity/AliasEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/BusinessUnitReferenceData.java
  src/test/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-437

#456 Debug pipelines
  README.md
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStepDef.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-456

#458 Debug pipelines
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/ModeSwitchStepDef.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-458

#453 PO-495: Infra code for WarrantRegister
  src/main/java/uk/gov/hmcts/opal/controllers/develop/WarrantRegisterController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/WarrantRegisterSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/WarrantRegisterEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/WarrantRegisterRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/WarrantRegisterSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/WarrantRegisterServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyWarrantRegisterService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/WarrantRegisterService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/WarrantRegisterServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/WarrantRegisterControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyWarrantRegisterServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/WarrantRegisterServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/WarrantRegisterServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-453

#448 PO-495: Infra code for Reports
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ReportController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ReportSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ReportEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/ReportRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ReportSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/ReportServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyReportService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ReportService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ReportServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyReportServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ReportServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-448

#452 PO-495: Infra code for StandardLetter
  src/main/java/uk/gov/hmcts/opal/controllers/develop/StandardLetterController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/StandardLetterSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/StandardLetterEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/StandardLetterRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/StandardLetterSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/StandardLetterServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyStandardLetterService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/StandardLetterService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/StandardLetterServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/StandardLetterControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyStandardLetterServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/StandardLetterServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/StandardLetterServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-452

#451 PO-495: Infra code for ResultDocument
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ResultDocumentController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ResultDocumentSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ResultDocumentEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/ResultDocumentRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ResultDocumentSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/ResultDocumentServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyResultDocumentService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ResultDocumentService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ResultDocumentServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/ResultDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyResultDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ResultDocumentServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-451

#450 PO-495: Infra code for HmrcRequest
  src/main/java/uk/gov/hmcts/opal/controllers/develop/HmrcRequestController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/HmrcRequestSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/HmrcRequestEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/HmrcRequestRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/HmrcRequestSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/HmrcRequestServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyHmrcRequestService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/HmrcRequestService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/HmrcRequestServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/HmrcRequestControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyHmrcRequestServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/HmrcRequestServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/HmrcRequestServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-450

#463 PO-495: Add infrastructure code for new DB tables
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ReportEntryController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/ReportInstanceController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ReportEntrySearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ReportInstanceSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ReportEntryEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/ReportInstanceEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/ReportEntryRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/ReportInstanceRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ReportEntrySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ReportInstanceSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/ReportEntryServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/ReportInstanceServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyReportEntryService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyReportInstanceService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ReportEntryService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ReportInstanceService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ReportEntryServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ReportInstanceServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/ReportEntryControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/ReportInstanceControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyReportEntryServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyReportInstanceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ReportEntryServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ReportInstanceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ReportEntryServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/ReportInstanceServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-463

#446 PO-512 added 3 new columns to draft_accounts table to hold details of…
  src/main/resources/db/migration/V20240712_220__add_cols_to_draft_accounts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-446

#454 PO-491 - Add cache for reference data
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/CourtService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/EnforcerService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/LocalJusticeAreaService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MajorCreditorService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenceService.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/SessionCacheTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-454

#465 PO-503 Add Welsh Language to South Wales BU
  src/main/resources/db/migration/V20240723_221__add_welsh_lang_to_south_wales_bu.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-465

#466 PO-492 Create User Permissions for Collection Order
  src/main/resources/db/migration/V20240723_222__user_permissions_collection_order.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-466

#467 PO-509: Add relationship BusinessUnit to ConfigurationItems and repor…
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/ConfigurationItemEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/BusinessUnitReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ConfigurationItemSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitService.java
  src/test/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-467

#474 PO-511: Changes to Draft Accounts for Error Spike
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-474

#472 PO-562 set welsh language to true for Welsh business units that are A…
  src/main/resources/db/migration/V20240725_223__update_welsh_ad_business_units.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-472

#473 PO-554: Logging level and details review code changes
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-473

#475 PO-314: Initial coding to support Result ref-data
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/ResultController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/ResultReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/ResultReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ResultSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ResultService.java
  src/test/java/uk/gov/hmcts/opal/controllers/ResultControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-475

#479 Restore LoggingExceptionResolver to capture/monitor/alter exceptions returned to Client
  src/main/java/uk/gov/hmcts/opal/authentication/aspect/UserStateAspectService.java
  src/main/java/uk/gov/hmcts/opal/authentication/client/AzureTokenClient.java
  src/main/java/uk/gov/hmcts/opal/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolver.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/NoteController.java
  src/test/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolverTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-479

#480 Po 570
  src/main/resources/db/migration/V20240731_226__update_template_description.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-480
