Repository hmcts/opal-fines-service, pull requests merged in 2024-12, with the labels that each got.

#663 PO-926: Enhance POST Offences Search API Endpoint
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/OffenceController.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/OffenceSearchDataResults.java
  src/main/java/uk/gov/hmcts/opal/dto/search/OffenceSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/OffenceSearchData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/OffenceSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/OffenceServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyOffenceService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenceService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/OffenceServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/OffenceControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/OffenceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/OffenceServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-663

#666 ignore missing migrations
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-666

#665 A minor fix to the Draft Account POST endpoint processing.
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/util/JsonPathUtil.java
Labels: ns:opal, prd:opal, stg/no-changes, rel:opal-fines-service-pr-665

#661 Po 946 tests
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPutSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/utils/DataCleanUp.java
  src/functionalTest/java/uk/gov/hmcts/opal/utils/DraftAccountUtils.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-591_createDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-691_postDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-827_postDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-936-postDraftAccountSubmittedByName.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-749_putDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-830_putDraftAccountAuthorisation.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-661

#668 1036 update add draft account request.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-747_patchDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-831_patchDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/account.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/adultAccount.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-591_createDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-691_postDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-827_postDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-936-postDraftAccountSubmittedByName.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-606_getDraftAccounts.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-647_getDraftAccountsErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-829_getDraftAccountsAuthorization.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-832_getDraftAccountsNotSubBy.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-559_getDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-690_getDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-828_getDraftAccountUserAuthorization.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-749_putDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-830_putDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/timelineJson/default.json
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/dto/AddDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/resources/jsonSchemas/account.json
  src/main/resources/jsonSchemas/addDraftAccountRequest.json
  src/main/resources/jsonSchemas/createDefendantAccountRequest.json
  src/main/resources/jsonSchemas/getDraftAccountResponse.json
  src/main/resources/jsonSchemas/getDraftAccountsResponse.json
  src/main/resources/jsonSchemas/replaceDraftAccountRequest.json
  src/main/resources/jsonSchemas/timelineData.json
  src/main/resources/jsonSchemas/updateDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-668

#667 PO-962 Recreated database sequences with starting values to avoid cla…
  src/main/resources/db/migration/allEnvs/V20241210_292__restart_sequences.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-667

#672 make sure json schema refs are correct
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPatchSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPutSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-591_createDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-827_postDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-936-postDraftAccountSubmittedByName.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-606_getDraftAccounts.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-832_getDraftAccountsNotSubBy.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-830_putDraftAccountAuthorisation.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/resources/jsonSchemas/addDraftAccountRequest.json
  src/main/resources/jsonSchemas/getDraftAccountResponse.json
  src/main/resources/jsonSchemas/replaceDraftAccountRequest.json
  src/main/resources/jsonSchemas/updateDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-672

#679 Revert "PO-962 Recreated database sequences with starting values to avoid cla…"
  src/main/resources/db/migration/allEnvs/V20241210_292__restart_sequences.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-679

#681 Update PO-184-187-188-192_addNote_postedBy_postedByAAD.feature
  src/functionalTest/resources/features/opalMode/PO-184-187-188-192_addNote_postedBy_postedByAAD.feature
  src/functionalTest/resources/features/opalMode/PO-235-Notes_RolesAndBusinessUnits.feature
  src/functionalTest/resources/features/opalMode/PO-250_authorisation.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-681
