Repository hmcts/opal-fines-service, pull requests merged in 2024-01, with the labels that each got.

#86 PO-125: Add Authentication for Internal Users
  build.gradle
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/GetWelcomeTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/opal/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/opal/authentication/client/impl/OAuthClientImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/component/SessionCache.java
  src/main/java/uk/gov/hmcts/opal/authentication/component/TokenValidator.java
  src/main/java/uk/gov/hmcts/opal/authentication/component/impl/SimpleInMemorySessionCacheImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthConfigFallback.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthStrategySelector.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthenticationConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/opal/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/opal/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/opal/authentication/dao/AzureDao.java
  src/main/java/uk/gov/hmcts/opal/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/opal/authentication/exception/AuthenticationException.java
  src/main/java/uk/gov/hmcts/opal/authentication/exception/AzureDaoException.java
  src/main/java/uk/gov/hmcts/opal/authentication/model/JwtValidationResult.java
  src/main/java/uk/gov/hmcts/opal/authentication/model/OAuthProviderRawResponse.java
  src/main/java/uk/gov/hmcts/opal/authentication/model/SecurityToken.java
  src/main/java/uk/gov/hmcts/opal/authentication/model/Session.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/SessionService.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/impl/SessionServiceImpl.java
  src/main/java/uk/gov/hmcts/opal/common/util/RequestMatcher.java
  src/main/java/uk/gov/hmcts/opal/exception/OpalApiError.java
  src/main/java/uk/gov/hmcts/opal/exception/OpalApiException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/authentication/component/impl/AuthConfigurationPropertiesStrategyTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/component/impl/DummyAuthStrategy.java
  src/test/java/uk/gov/hmcts/opal/authentication/component/impl/SimpleInMemorySessionCacheImplTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/component/impl/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/dao/impl/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/impl/AuthenticationServiceImplTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/impl/SessionServiceImplTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-86

#106 code cleanup
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthProviderConfigurationProperties.java
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-106

#110 Po 43 requests to legacy gateway
  src/main/java/uk/gov/hmcts/opal/service/LegacyNoteService.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyNoteServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-110

#111 Add global Spring json date format as array
  build.gradle
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-111

#112 Don't send JSON dates as timestamps
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-112

#113 Add account id into account summary response from search
  src/main/java/uk/gov/hmcts/opal/dto/AccountSummaryDto.java
  src/main/resources/tempSearchData.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-113

#114 PO-150: BE - Add Swagger details for authentication controller
  src/main/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/opal/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/opal/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PartyController.java
  src/main/java/uk/gov/hmcts/opal/controllers/RootController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-114

#115 PO-147 Abraham added insert scripts to populate tables
  src/main/resources/db/migration/V20240103_049__insert_business_units.sql
  src/main/resources/db/migration/V20240103_050__insert_courts.sql
  src/main/resources/db/migration/V20240104_051__insert_results.sql
  src/main/resources/db/migration/V20240104_052__insert_local_justice_areas.sql
  src/main/resources/db/migration/V20240104_053__insert_enforcers.sql
  src/main/resources/db/migration/V20240105_054__insert_defendant_accounts.sql
  src/main/resources/db/migration/V20240105_055__insert_payment_terms.sql
  src/main/resources/db/migration/V20240105_056__insert_parties.sql
  src/main/resources/db/migration/V20240105_057__insert_defendant_account_parties.sql
  src/main/resources/db/migration/V20240105_058__insert_notes.sql
  src/main/resources/db/migration/V20240106_059__insert_debtor_detail.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-115

#116 Po 130 rework to align with capita
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountPartiesRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/resources/tempDetailsData.json
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-116

#121 Update dependencies
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-121

#122 Update dependencies
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-122

#118 Add initial DefendantAccount search parameters
  .gitignore
  build.gradle
  src/main/java/uk/gov/hmcts/opal/dto/AccountSearchResultsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DateDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountPartiesEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountSummary.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceInterface.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchDtoTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchResultsDtoTest.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
  src/test/java/uk/gov/hmcts/opal/entity/PartyEntityTest.java
  src/test/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecsTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/PartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-118

#123 PO-130: rework to align with capita
  postman/Account Enquiry.postman_collection.json
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/PartyDto.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitsEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CourtsEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountPartiesEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcersEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/NoteEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PaymentTermsEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountPartiesRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/PaymentTermsRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/dto/PartyDtoTest.java
  src/test/java/uk/gov/hmcts/opal/entity/PartyEntityTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/PartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-123

#124 Add initials field to search response
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountSummary.java
  src/main/java/uk/gov/hmcts/opal/entity/FullNameBuilder.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountSummaryTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-124

#125 automated tests for PO-119
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantSearchApiStepDef.java
  src/functionalTest/resources/features/defendantAccountSearchAPI.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-125

#126 Add skeleton account servicce interface, legacy & proxy
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountEnquiryDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyService.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-126

#127 remove account type and arrears
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/resources/tempDetailsData.json
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-127

#129 Add unit tests for LegacyDefendantAccountService
  src/test/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-129

#130 add missing field sentenced date
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-130

#132 add schemas from capita to repo
  schemas/AccountDetails/details_in_json.json
  schemas/AccountDetails/details_out_json.json
  schemas/AccountDetails/of_f_get_defendant_account_in.xsd
  schemas/AccountDetails/of_f_get_defendant_account_out.xsd
  schemas/AccountSearch/of_f_search_defendant_accounts_in.xsd
  schemas/AccountSearch/of_f_search_defendant_accounts_out.xsd
  schemas/AccountSearch/search_in_json.json
  schemas/AccountSearch/search_out_json.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-132

#134 Po 130 automated tests
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountDetailsStefDef.java
  src/functionalTest/resources/features/defendantAccountDetailsAPI.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-134

#136 new schemas from capita, v3
  schemas/AccountDetails/details_out_json.json
  schemas/AccountDetails/of_f_get_defendant_account_in.json
  schemas/AccountDetails/of_f_get_defendant_account_out.json
  schemas/AccountDetails/of_f_get_defendant_account_out.xsd
  schemas/AccountNotes/of_create_note_in.json
  schemas/AccountNotes/of_create_note_in.xsd
  schemas/AccountNotes/of_create_note_out.json
  schemas/AccountNotes/of_create_note_out.xsd
  schemas/AccountSearch/of_f_search_defendant_accounts_in.json
  schemas/AccountSearch/of_f_search_defendant_accounts_out.json
  schemas/AccountSearch/of_f_search_defendant_accounts_out.xsd
  schemas/AccountSearch/search_in_json.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-136

#135 Add Legacy DTOs for Account Search
  src/main/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/dto/DefendantAccountSearchCriteria.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/dto/DefendantAccountSearchResult.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/dto/DefendantAccountsSearchResults.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/dto/DefendantAccountSearchResultTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-135

#139 PO-153: Generate JWT token for Stubs at PR
  build.gradle
  src/main/java/uk/gov/hmcts/opal/authentication/service/AzureJwtService.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AzureJwtServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-139

#140 Added extra logging & debug
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountService.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-140

#146 PO-154 and PO-162 Abraham added scripts to insert development test da…
  src/main/resources/db/migration/V20240119_060__modify_table_columns.sql
  src/main/resources/db/migration/V20240121_061__insert_documents.sql
  src/main/resources/db/migration/V20240121_062__insert_document_instances.sql
  src/main/resources/db/migration/V20240121_063__insert_account_transfers.sql
  src/main/resources/db/migration/V20240121_064__insert_prisons.sql
  src/main/resources/db/migration/V20240121_065__insert_enforcements.sql
  src/main/resources/db/migration/V20240121_066__insert_committal_warrant_progress.sql
  src/main/resources/db/migration/V20240121_067__insert_fixed_penalty_offences.sql
  src/main/resources/db/migration/V20240121_068__insert_defendant_transactions.sql
  src/main/resources/db/migration/V20240121_069__insert_tills.sql
  src/main/resources/db/migration/V20240121_070__insert_payments_in.sql
  src/main/resources/db/migration/V20240121_071__insert_mis_debtors.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-146

#151 add internal docker host to compose to allow connection to legacy stub locally
  docker-compose.yml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-151

#149 Optimise and cleanup code
  src/main/java/uk/gov/hmcts/opal/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/opal/authentication/client/impl/OAuthClientImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/component/SessionCache.java
  src/main/java/uk/gov/hmcts/opal/authentication/component/TokenValidator.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/AuthenticationConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/opal/authentication/dao/AzureDao.java
  src/main/java/uk/gov/hmcts/opal/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/SessionCache.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/SessionService.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/TokenValidator.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/impl/SessionServiceImpl.java
  src/main/java/uk/gov/hmcts/opal/authentication/util/RequestMatcher.java
  src/test/java/uk/gov/hmcts/opal/authentication/config/internal/AuthConfigurationPropertiesStrategyTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/config/internal/DummyAuthStrategy.java
  src/test/java/uk/gov/hmcts/opal/authentication/dao/AzureDaoTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AuthenticationServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/SessionCacheTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/SessionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/TokenValidatorTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-149

#154 Use RestClient instead of RestTemplate
  src/main/java/uk/gov/hmcts/opal/config/rest/RestClientConfiguration.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyService.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyProxyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyTestsBase.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-154

#155 Requests to Gateway need to jsonify parameters
  src/main/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyService.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyTestsBase.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-155

#158 PO-149: Authenticate API calls from frontend
  src/functionalTest/resources/features/defendantAccountDetailsAPI.feature
  src/functionalTest/resources/features/defendantAccountSearchAPI.feature
  src/functionalTest/resources/features/notesAPI.feature
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-158

#159 Update Account Note Service
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacySaveNoteRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacySaveNoteResponseDto.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyGatewayResponseException.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyService.java
  src/main/java/uk/gov/hmcts/opal/service/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/PartyService.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyProxyNoteServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-159

#161 Disable security for testing support controller
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-161

#160 Add new 'addNote' endpoint for DefendantAccounts
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AddNoteDto.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-160

#162 update schemas, update defendantaccount details service to retrieve notes
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/AccountActivityDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyAccountDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/opal/repository/NoteRepository.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyDefendantAccountServiceTest.java
  src/test/resources/schemas/AccountDetails/of_f_get_defendant_account_in.json
  src/test/resources/schemas/AccountDetails/of_f_get_defendant_account_out.json
  src/test/resources/schemas/AccountDetails/of_f_get_defendant_account_out.xsd
  src/test/resources/schemas/AccountNotes/of_create_note_in.json
  src/test/resources/schemas/AccountNotes/of_create_note_out.json
  src/test/resources/schemas/AccountSearch/of_f_search_defendant_accounts_in.json
  src/test/resources/schemas/AccountSearch/of_f_search_defendant_accounts_out.json
  src/test/resources/schemas/AccountSearch/of_f_search_defendant_accounts_out.xsd
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-162

#163 Populate added Note with request RemoteUser
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/NoteDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacySaveNoteRequestDto.java
  src/main/java/uk/gov/hmcts/opal/service/LegacyNoteService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-163

#166 Re-org of the 'service' package to delineate classes
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyAccountDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayResponseException.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/PartyService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/DefendantAccountServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/NoteServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/PartyServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ProxyInterface.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PartyControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/DynamicConfigServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/LegacyProxyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyTestsBase.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/NoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/PartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/DefendantAccountServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/NoteServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/PartyServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-166
