Repository hmcts/opal-fines-service, pull requests merged in 2024-10, with the labels that each got.

#559 PO-655 remove telophone and e-mail columns from DEBTOR_DETAIL table
  src/main/java/uk/gov/hmcts/opal/entity/DebtorDetailEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DebtorDetailSpecs.java
  src/main/resources/db/migration/V20240927_259__drop_debtor_detail_columns.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-559

#563 tests for PO-606
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-606_getDraftAccounts.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-563

#564 Fix offences ref-data caching & change query param to 'business_unit_id'
  src/functionalTest/java/uk/gov/hmcts/opal/steps/RefDataStepDef.java
  src/main/java/uk/gov/hmcts/opal/controllers/OffenceController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenceService.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-564

#567 PO-797: Rename BusinessUnitUserPermissions to BusinessUnitUser
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/util/UserStateUtil.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspect.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizedBusinessUnitUserHasPermission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/BusinessUnitUserNotFoundException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/BusinessUnitUserPermissionsNotFoundException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/BusinessUnitUser.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/NoteController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserEntitlementService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/java/uk/gov/hmcts/opal/util/PermissionUtil.java
  src/test/java/uk/gov/hmcts/opal/authentication/aspect/LogAuditDetailsAspectTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/aspect/UserStateAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedExceptionTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/UserStateBuilder.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/PermissionUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-567

#568 Po 745 patch draft account
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/UpdateDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/resources/jsonSchemas/updateDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-568

#566 PO-854 update RESULTS table to set imposition_allocation_priority to …
  src/functionalTest/resources/features/opalMode/results/PO-703_results.feature
  src/main/resources/db/migration/V20241003_260__update_results_fo_fopr1.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-566

#571 PO-805 Added the account_type column and check constraint to DEFENDAN…
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountType.java
  src/main/java/uk/gov/hmcts/opal/entity/converter/DefendantAccountTypeConverter.java
  src/main/resources/db/migration/V20241004_261__add_account_type.sql
  src/main/resources/db/migration/V20241004_262__update_defendant_accounts.sql
  src/main/resources/db/migration/V20241004_263__add_account_type_check.sql
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
  src/test/java/uk/gov/hmcts/opal/entity/converter/DefendantAccountTypeConverterTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-571

#572 Tests for 690 691
  src/functionalTest/java/uk/gov/hmcts/opal/steps/GenericExceptionPathStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-690_getDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-691_postDraftAccountErrorHandling.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-572

#569 PO-691 bad request
  src/functionalTest/java/uk/gov/hmcts/opal/steps/GenericExceptionPathStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-690_getDraftAccountErrorHandling.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-691_postDraftAccountErrorHandling.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-569

#577 PO-806 rename column employer_reference to employee_reference in the …
  src/main/java/uk/gov/hmcts/opal/entity/DebtorDetailEntity.java
  src/main/resources/db/migration/V20241008_264__rename_to employee_reference.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-577

#578 authorisation for put draft accounts
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-578

#579 PO-665 Create MESSAGE_LOG table
  src/main/resources/db/migration/V20241008_265__message_log.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-579

#575 tests for PO-745
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPatchSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-575

#583 PO-831
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPatchSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-831_patchDraftAccountAuthorisation.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/exception/ResourceConflictException.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-583

#586 tests for PO-830
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-830_putDraftAccountAuthorisation.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-586

#590 Po 884
  src/main/java/uk/gov/hmcts/opal/annotation/CheckAcceptHeader.java
  src/main/java/uk/gov/hmcts/opal/config/WebConfig.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/interceptor/AcceptHeaderInterceptor.java
  src/test/java/uk/gov/hmcts/opal/interceptor/AcceptHeaderInterceptorTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-590

#582 PO-666 Create ERROR_MESSAGES table
  src/main/resources/db/migration/V20241010_266__error_messages.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-582

#587 PO-827: Add authorisation to draft account POST endpoint
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPostSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/account.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/adultAccount.json
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/util/UserStateUtil.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedException.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/dto/AddDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ReplaceDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/resources/jsonSchemas/replaceDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedExceptionTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-587

#594 PO-690: Add Exception Path handling for GET draft account endpoint
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountsResponseDto.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-594

#595 Po 827 tests
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-827_postDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-831_patchDraftAccountAuthorisation.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-595

#597 PO-900 reload RESULTS table reference data to include Reason, Prison …
  src/main/resources/db/migration/V20241018_267__drop_fk_for_results.sql
  src/main/resources/db/migration/V20241018_268__load_results_table.sql
  src/main/resources/db/migration/V20241018_269__restore_fk_after_results.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-597

#601 PO-920 Make the SURNAME column nullable in the ALIASES table
  src/main/resources/db/migration/V20241021_270__aliases_surname_nullable.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-601

#602 Tests for PO-690
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-690_getDraftAccountErrorHandling.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-602

#604 PO-898 Recreate these identified sequences in Opal to start from 2000…
  src/main/resources/db/migration/V20241022_271__recreate_sequences_start.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-604

#609 Po 749 747 exception paths
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/interceptor/AcceptHeaderInterceptor.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/resources/jsonSchemas/updateDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/interceptor/AcceptHeaderInterceptorTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-609

#612 Tests for PO-747
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPatchSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-747_patchDraftAccountErrorHandling.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-612

#614 automation tests for PO-749
  src/functionalTest/java/uk/gov/hmcts/opal/config/Constants.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountGetSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPutSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-749_putDraftAccountErrorHandling.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-614

#611 PO-902 Crerate index on creditor_accounts table on (business_unit_id,…
  src/main/resources/db/migration/V20241024_272__creditor_accounts_index.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-611

#616 PO-928 Correct the starting values for some specified database sequen…
  src/main/resources/db/migration/V20241028_273__change_sequences_start.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-616

#618 PO-832: Add not_submitted_by parameter to GET Draft Accounts
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DraftAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-618
