Repository hmcts/opal-fines-service, pull requests merged in 2024-02, with the labels that each got.

#170 PO-165: Add testing support endpoint to generate a valid token for functional tests in BE
  build.gradle
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.yaml
  src/main/java/uk/gov/hmcts/opal/authentication/client/AzureTokenClient.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/opal/authentication/config/internal/InternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/opal/authentication/model/AccessTokenRequest.java
  src/main/java/uk/gov/hmcts/opal/authentication/model/AccessTokenResponse.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AccessTokenService.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AzureDummyTokenService.java
  src/main/java/uk/gov/hmcts/opal/config/properties/TestUser.java
  src/main/java/uk/gov/hmcts/opal/config/rest/RestTemplateConfig.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/authentication/service/AccessTokenServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AzureDummyTokenServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-170

#171 Add required env variable in ReadMe
  README.md
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-171

#169 Make repository search code more generic
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/dto/NotesSearchDto.java
  src/main/java/uk/gov/hmcts/opal/repository/NoteRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/NoteSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/NoteServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/NoteServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecsTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/NoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/NoteServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-169

#174 Refactor the duplicate code and reuse
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/util/ResponseUtil.java
  src/test/java/uk/gov/hmcts/opal/util/ResponseUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-174

#175 PO-172: Make testing support controller behind a flag
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.stg.template.yaml
  charts/opal-fines-service/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-175

#178 Add more JPA Entities to match existing DB tables.
  src/main/java/uk/gov/hmcts/opal/entity/AccountTransferEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/AddressEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CommittalWarrantProgressEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CourtEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DocumentEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DocumentInstanceEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcementEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerCourtBaseEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/LocalJusticeAreaEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/MisDebtorEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/NoteEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PaymentInEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PrisonEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/TillEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/BusinessUnitRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/CourtRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/EnforcerRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/EnforcersRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-178

#183 Point to staging instance for legacy stubs
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.stg.template.yaml
  charts/opal-fines-service/values.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-183

#184 Remove dummy token generation
  src/main/java/uk/gov/hmcts/opal/authentication/service/AzureDummyTokenService.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AzureDummyTokenServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-184

#188 Code Optimise and cleanup
  src/main/java/uk/gov/hmcts/opal/authentication/model/SecurityToken.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchCriteria.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountSummary.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/NoteSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/ProxyInterface.java
  src/test/java/uk/gov/hmcts/opal/authentication/config/internal/AuthConfigurationPropertiesStrategyTest.java
  src/test/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/opal/config/LaunchDarklyConfigurationTest.java
  src/test/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchCriteriaTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/PartyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-188

#193 Implement more search critera for search endpoint
  src/main/java/uk/gov/hmcts/opal/dto/search/PartySearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/PrisonSearchDto.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AccountTransferSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AddressSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BaseCourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CommittalWarrantProgressSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DebtorDetailSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EnforcementSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EnforcerSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LocalJusticeAreaSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MisDebtorSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PartySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PaymentInSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PaymentTermsSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PrisonSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/TillSpecs.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-193

#194 Po 64 add basic auth to legacy gateway service
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.yaml
  src/main/java/uk/gov/hmcts/opal/config/rest/RestClientConfiguration.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyAccountTransferService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyBusinessUnitService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyCommittalWarrantProgressService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyCourtService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDebtorDetailService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDocumentInstanceService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDocumentService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyEnforcementService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyEnforcerService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyLocalJusticeAreaService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyMisDebtorService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPaymentInService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPaymentTermsService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPrisonService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyTillService.java
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-194

#153 Integrate mode switch for automated tests
  .gitignore
  build.gradle
  charts/opal-fines-service/values.dev.template.yaml
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BaseStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStefDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountAddNoteStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountDetailsStefDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantSearchApiStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/HealthApiStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/ModeSwitchStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/NotesApiStepDef.java
  src/functionalTest/resources/features/legacyMode/defendantAccountAddNoteLegacy.feature
  src/functionalTest/resources/features/legacyMode/defendantAccountDetailsLegacy.feature
  src/functionalTest/resources/features/legacyMode/defendantAccountSearchLegacy.feature
  src/functionalTest/resources/features/notesAPI.feature
  src/functionalTest/resources/features/opalMode/defendantAccountAddNoteOpal.feature
  src/functionalTest/resources/features/opalMode/defendantAccountDetailsOpal.feature
  src/functionalTest/resources/features/opalMode/defendantAccountSearchOpal.feature
  src/functionalTest/resources/features/smoke/authenticatedAPIs.feature
  src/functionalTest/resources/features/smoke/healthAPI.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-153

#198 Optimise code
  src/main/java/uk/gov/hmcts/opal/config/properties/LegacyGatewayProperties.java
  src/main/java/uk/gov/hmcts/opal/config/rest/RestClientConfiguration.java
  src/main/java/uk/gov/hmcts/opal/service/PartyServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyAccountTransferService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyBusinessUnitService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyCommittalWarrantProgressService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyCourtService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDebtorDetailService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDocumentInstanceService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDocumentService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyEnforcementService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyEnforcerService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyLocalJusticeAreaService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyMisDebtorService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPaymentInService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPaymentTermsService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyPrisonService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyTillService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/PartyService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/EnforcementServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/EnforcerServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/LocalJusticeAreaServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/MisDebtorServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/PartyServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/PaymentInServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/PaymentTermsServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/PrisonServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/TillServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyTestsBase.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-198

#197 Refine some of the entity searching
  src/main/java/uk/gov/hmcts/opal/dto/search/BaseCourtSearch.java
  src/main/java/uk/gov/hmcts/opal/dto/search/CourtSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/EnforcerSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/LocalJusticeAreaSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/PartySearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/PrisonSearchDto.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AddressSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BaseCourtSpecs.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-197

#196 PO-177, 186 and 195 to create users related tables and alter existing…
  src/main/resources/db/migration/V20240210_072__users.sql
  src/main/resources/db/migration/V20240210_073__business_unit_users.sql
  src/main/resources/db/migration/V20240210_074__application_functions.sql
  src/main/resources/db/migration/V20240210_075__application_function_id_seq .sql
  src/main/resources/db/migration/V20240210_076__user_entitlements.sql
  src/main/resources/db/migration/V20240210_077__user_entitlement_id_seq .sql
  src/main/resources/db/migration/V20240213_078__templates.sql
  src/main/resources/db/migration/V20240213_079__template_id_seq.sql
  src/main/resources/db/migration/V20240213_080__template_mappings.sql
  src/main/resources/db/migration/V20240213_081__notes_add_column.sql
  src/main/resources/db/migration/V20240213_082__modify_document_instance.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-196

#195 Align REST endpoints for consistency
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountDetailsStefDef.java
  src/main/java/uk/gov/hmcts/opal/controllers/AccountTransferController.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/controllers/CommittalWarrantProgressController.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DebtorDetailController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DocumentInstanceController.java
  src/main/java/uk/gov/hmcts/opal/controllers/EnforcementController.java
  src/main/java/uk/gov/hmcts/opal/controllers/EnforcerController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaController.java
  src/main/java/uk/gov/hmcts/opal/controllers/MisDebtorController.java
  src/main/java/uk/gov/hmcts/opal/controllers/NoteController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PaymentInController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PaymentTermsController.java
  src/main/java/uk/gov/hmcts/opal/controllers/PrisonController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TillController.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-195

#201 Optimise code
  build.gradle
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-201

#202 Fix for CVE-2023-6378
  config/owasp/suppressions.xml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-202

#204 PO-204: Fix CVE-2023-35116
  config/owasp/suppressions.xml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-204

#206 PO-179 added insert scripts for OPAL test users and match them to Leg…
  src/main/resources/db/migration/V20240216_083__insert_users.sql
  src/main/resources/db/migration/V20240218_084__insert_business_units.sql
  src/main/resources/db/migration/V20240218_085__insert_business_unit_users.sql
  src/main/resources/db/migration/V20240218_086__insert_application_functions.sql
  src/main/resources/db/migration/V20240218_087__insert_user_entitlements.sql
  src/main/resources/db/migration/V20240219_088__insert_templates.sql
  src/main/resources/db/migration/V20240219_089__insert_template_mappings.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-206

#205 Add launchdarkly secret to vault
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-205

#216 Update new user & 'role' entities, & code de-dupe
  src/main/java/uk/gov/hmcts/opal/controllers/ApplicationFunctionController.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitUserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TemplateController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TemplateMappingController.java
  src/main/java/uk/gov/hmcts/opal/controllers/UserController.java
  src/main/java/uk/gov/hmcts/opal/controllers/UserEntitlementController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/ApplicationFunctionSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/BusinessUnitUserSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/TemplateMappingSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/TemplateSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/UserEntitlementSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/UserSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ApplicationFunctionEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitUserEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/TemplateEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/TemplateMappingEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntitlementEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/DefendantAccountSummary.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantAccountPartiesRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/TemplateMappingRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AddressSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ApplicationFunctionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BaseCourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitUserSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountPartySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PartySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/TemplateMappingSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/TemplateSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserEntitlementSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/TemplateMappingServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyTemplateMappingService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/TemplateMappingService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/TemplateMappingServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/TemplateMappingControllerTest.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountSummaryTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyTemplateMappingServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/TemplateMappingServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/TemplateMappingServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-216

#221 quick fix for opal notes tests
  src/functionalTest/resources/features/opalMode/defendantAccountAddNoteOpal.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-221

#213 Party search refinement
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantSearchApiStepDef.java
  src/functionalTest/resources/features/legacyMode/defendantAccountSearchLegacy.feature
  src/functionalTest/resources/features/opalMode/defendantAccountSearchOpal.feature
  src/main/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchCriteria.java
  src/main/java/uk/gov/hmcts/opal/dto/search/AccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/PartySearchDto.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PartySpecs.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchDtoTest.java
  src/test/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-213

#207 PO-191 added SQL script to add the posted_by_aad column to 3 tables
  src/main/resources/db/migration/V20240219_090__add_aad_columns.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-207

#224 Add DefendantTransactionEntity & associated code
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantTransactionController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/DefendantTransactionSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/ApplicationFunctionEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantAccountPartiesEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/DefendantTransactionEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcementEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerCourtBaseEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/NoteEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PaymentTermsEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/TemplateMappingEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/UserEntitlementEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/DefendantTransactionRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantTransactionSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantTransactionServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantTransactionService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantTransactionService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/DefendantTransactionServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/AccountTransferControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DebtorDetailControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantTransactionControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DocumentInstanceControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/EnforcementControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/EnforcerControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/MisDebtorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PartyControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PaymentInControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PaymentTermsControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PrisonControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TillControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantTransactionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantTransactionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/DefendantTransactionServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-224

#226 Po 164 fix authorization on legacy service
  src/main/java/uk/gov/hmcts/opal/config/rest/RestClientConfiguration.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyService.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-226

#225 PO-220: Add endpoint to fetch token for a given user
  src/main/java/uk/gov/hmcts/opal/authentication/service/AccessTokenService.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AccessTokenServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-225

#227 PO-180 Parse JWT token
  src/main/java/uk/gov/hmcts/opal/authentication/service/AccessTokenService.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/TokenValidator.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AccessTokenServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-227

#228 Integrate alt user tokens
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStefDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BearerTokenStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountAddNoteStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountDetailsStefDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantSearchApiStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/HealthApiStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/NotesApiStepDef.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-228
