Repository hmcts/opal-fines-service, pull requests merged in 2024-04, with the labels that each got.

#296 PO-256: Add integration tests for TestingSupportController
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-296

#300 PO-255 Add integration test for DefendantAccountController
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerIntegrationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-300

#301 PO-262: Refactor and cleanup code
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolver.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/NoteController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/main/java/uk/gov/hmcts/opal/util/HttpUtil.java
  src/test/java/uk/gov/hmcts/opal/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserStateServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-301

#305 PO-264 added database sequence creation scripts and corrected typos i…
  src/main/resources/db/migration/V20240408_118__correct_id_names.sql
  src/main/resources/db/migration/V20240408_119__major_creditor_id_seq.sql
  src/main/resources/db/migration/V20240408_120__creditor_account_id_seq.sql
  src/main/resources/db/migration/V20240408_121__offence_id_seq.sql
  src/main/resources/db/migration/V20240408_122__imposition_id_seq.sql
  src/main/resources/db/migration/V20240408_123__creditor_transaction_id_seq.sql
  src/main/resources/db/migration/V20240408_124__suspense_account_id_seq.sql
  src/main/resources/db/migration/V20240408_125__court_fee_id_seq.sql
  src/main/resources/db/migration/V20240408_126__suspense_item_id_seq.sql
  src/main/resources/db/migration/V20240408_127__suspense_transaction_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-305

#306 Write Audit entry in DB for Log in and Log Out
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/LogActions.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/NoteController.java
  src/main/java/uk/gov/hmcts/opal/dto/AddLogAuditDetailDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/LogAuditDetailSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/LogAuditDetailEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/BusinessUnitRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitUserSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LogActionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LogAuditDetailSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserEntitlementSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/BusinessUnitServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyBusinessUnitService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/LogAuditDetailService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserStateService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/BusinessUnitServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/authentication/service/AuthenticationServiceTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/BusinessUnitControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/NoteControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyBusinessUnitServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/LogAuditDetailServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserStateServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/BusinessUnitServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-306

#311 PO-250 tests
  src/functionalTest/java/uk/gov/hmcts/opal/steps/CourtSearchStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountDetailsStefDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantAccountGetNoteStepDef.java
  src/functionalTest/resources/features/opalMode/PO-250_authorisation.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-311

#314 Rework some of the Entities & JPA spec code
  src/main/java/uk/gov/hmcts/opal/controllers/develop/OffenseController.java
  src/main/java/uk/gov/hmcts/opal/entity/CreditorAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CreditorTransactionEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/ImpositionEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/OffenseEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/SuspenseItemEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/SuspenseTransactionEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/OffenseRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ApplicationFunctionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitUserSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtFeeSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CreditorAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CreditorTransactionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ImpositionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LogActionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/LogAuditDetailSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MajorCreditorSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/OffenseSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PartySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/SuspenseAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/SuspenseItemSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/SuspenseTransactionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/TemplateMappingSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/TemplateSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserEntitlementSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/OffenseServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyOffenseService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenseService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/OffenseServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/OffenseControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyOffenseServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/OffenseServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/OffenseServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-314

#317 PO-265: Add annotation AuthorizedPermission
  src/main/java/uk/gov/hmcts/opal/authentication/exception/MissingRequestHeaderException.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspect.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectService.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizedAnyRoleAnyRoleHasPermission.java
  src/main/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedException.java
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolver.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/service/opal/NoteService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/DefendantAccountServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/PermissionNotAllowedExceptionTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/LoggingExceptionResolverTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-317

#325 PO-284 added sql scripts to create more tables for Manual Account Cre…
  src/main/resources/db/migration/V20240419_130__aliases.sql
  src/main/resources/db/migration/V20240419_131__alias_id_seq.sql
  src/main/resources/db/migration/V20240419_132__draft_accounts.sql
  src/main/resources/db/migration/V20240419_133__draft_account_id_seq.sql
  src/main/resources/db/migration/V20240423_134__amendments.sql
  src/main/resources/db/migration/V20240423_135__amendment_id_seq.sql
  src/main/resources/db/migration/V20240423_136__miscellaneous_accounts.sql
  src/main/resources/db/migration/V20240423_137__miscellaneous_account_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-325

#326 New integration tests for reference data controllers, & some changes for consistency
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/EnforcerControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ImpositionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LocalJusticeAreaControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogActionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/MajorCreditorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/OffenseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ResultControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/TillControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/entity/AddressEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CourtEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CreditorAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerCourtBaseEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/LocalJusticeAreaEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/MajorCreditorEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/PrisonEntity.java
  src/test/java/uk/gov/hmcts/opal/entity/DefendantAccountEntityTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-326

#331 all tests now define user
  src/functionalTest/resources/features/opalMode/defendantAccountAddNoteOpal.feature
  src/functionalTest/resources/features/opalMode/defendantAccountDetailsOpal.feature
  src/functionalTest/resources/features/opalMode/defendantAccountSearchOpal.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-331

#333 Add new entities & associated for manual create account
  src/main/java/uk/gov/hmcts/opal/controllers/develop/AliasController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/AmendmentController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/MiscellaneousAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/AliasSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/AmendmentSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/MiscellaneousAccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/AliasEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/AmendmentEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/MiscellaneousAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/AliasRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/AmendmentRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/MiscellaneousAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AliasSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AmendmentSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BusinessUnitUserSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EntitySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MiscellaneousAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/UserEntitlementSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/AliasServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/AmendmentServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/MiscellaneousAccountServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyAliasService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyAmendmentService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyMiscellaneousAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/AliasService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/AmendmentService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MiscellaneousAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/AliasServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/AmendmentServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/MiscellaneousAccountServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/AliasControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/AmendmentControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/MiscellaneousAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/PrisonControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/TillControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/UserEntitlementControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyAliasServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyAmendmentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyMiscellaneousAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/AliasServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/AmendmentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MiscellaneousAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/AliasServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/AmendmentServiceProxyTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/MiscellaneousAccountServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-333

#338 PO-303 loaded the offences reference data from an Excal spreadsheet i…
  src/main/resources/db/migration/V20240425_138__modify_offences.sql
  src/main/resources/db/migration/V20240426_139__exported_offence_inserts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-338

#334 PO-286: Add common services for sftp
  build.gradle
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJob.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpService.java
  src/main/java/uk/gov/hmcts/opal/sftp/config/SftpConfiguration.java
  src/main/java/uk/gov/hmcts/opal/sftp/config/SftpConnection.java
  src/main/java/uk/gov/hmcts/opal/sftp/config/SftpProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJobTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-334
