Repository hmcts/opal-fines-service, pull requests merged in 2024-06, with the labels that each got.

#380 PO-380 added business unit users taken from Legacy GoB into OPAL afte…
  src/functionalTest/resources/features/opalMode/PO-184-187-188-192_addNote_postedBy_postedByAAD.feature
  src/functionalTest/resources/features/opalMode/PO-235-Notes_RolesAndBusinessUnits.feature
  src/functionalTest/resources/features/opalMode/PO-250_authorisation.feature
  src/functionalTest/resources/features/opalMode/defendantAccountAddNoteOpal.feature
  src/main/resources/db/migration/V20240524_156__insert_mac_application_function.sql
  src/main/resources/db/migration/V20240524_157__cleanup_business_unit_users.sql
  src/main/resources/db/migration/V20240524_158__insert_business_unit_users.sql
  src/main/resources/db/migration/V20240525_159__insert_user_entitlements.sql
  src/main/resources/db/migration/V20240525_160__insert_template_mappings.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-380

#388 PO-404 Updated the business units ids in defendant_accounts table to …
  src/main/resources/db/migration/V20240531_161__update_defendant_accounts_bu.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-388

#382 PO-379: Add a 'permission' query parameter (filter) to the Business Unit reference data endpoint
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/Permissions.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/entity/BusinessUnitRef.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/BusinessUnitReferenceData.java
  src/main/java/uk/gov/hmcts/opal/util/PermissionUtil.java
  src/test/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-382

#391 PO-356 added scripts to create the Interface Files table and sequence
  src/main/resources/db/migration/V20240606_162__interface_files.sql
  src/main/resources/db/migration/V20240606_163__interface_file_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-391

#396 PO-421: Add business unit filtering to major creditor reference data query
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/MajorCreditorController.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/MajorCreditorReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MajorCreditorSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MajorCreditorService.java
  src/test/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-396

#392 PO-294: INF - Setup 'OAGS' SFTP Jobs
  src/main/java/uk/gov/hmcts/opal/scheduler/aspect/LogExecutionTime.java
  src/main/java/uk/gov/hmcts/opal/scheduler/aspect/LogExecutionTimeAspect.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/LogRetentionJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCashJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCheckJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/job/outbound/AllPayArchiveJob.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/AllPayArchiveService.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/AutoCashService.java
  src/main/java/uk/gov/hmcts/opal/scheduler/service/AutoCheckService.java
  src/main/java/uk/gov/hmcts/opal/sftp/SftpLocation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/scheduler/aspect/LogExecutionTimeAspectTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCashJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/inbound/AutoCheckJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/outbound/AllPayArchiveJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/AllPayArchiveServiceTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/AutoCashServiceTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/AutoCheckServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpLocationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-392

#398 PO-424: Filter Courts reference data by business unit
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/dto/search/AddressCySearch.java
  src/main/java/uk/gov/hmcts/opal/dto/search/CourtSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/EnforcerSearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/AddressCyEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/CourtEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/EnforcerEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/projection/CourtReferenceData.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AddressCySpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/BaseCourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/EnforcerSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/CourtService.java
  src/test/java/uk/gov/hmcts/opal/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CourtServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-398

#402 PO-441: Add Redis service in docker compose for local env
  docker-compose.yml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-402

#406 PO-440 add sql scripts for printing
  src/main/resources/db/migration/V20240724_181__print_definition.sql
  src/main/resources/db/migration/V20240724_182__print_performance_monitor.sql
  src/main/resources/db/migration/V20240724_183__print_definition_id_seq.sql
  src/main/resources/db/migration/V20240724_184__print_performance_monitor_id_seq.sql
  src/main/resources/db/migration/V20240724_185__insert_print_defintion.sql
  src/main/resources/db/migration/V20240724_186__create_print_jobs_table.sql
  src/main/resources/db/migration/V20240724_187__print_jobs_id_seq.sql
  src/main/resources/db/migration/V20240724_188__alter_print_jobs_id.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-406

#407 PO-439: Integrate Redis cache for opal-fines-service
  build.gradle
  src/main/java/uk/gov/hmcts/opal/Application.java
  src/main/java/uk/gov/hmcts/opal/config/CacheConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/config/CacheConfigTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-407

#405 adding tests for PO-421,421,424
  src/functionalTest/java/uk/gov/hmcts/opal/config/DBConnection.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DatabaseStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/RefDataStepDef.java
  src/functionalTest/resources/features/opalMode/courtsFeatures.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/PO-420_globalAndLocalOffences.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/PO-421_majorCreditorsReturnBUData.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/PO-424_filterCourtsOnBU.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-405

#413 PO-392 SQL scripts for ALLOCATIONS table
  src/main/resources/db/migration/V20240627_191__allocations.sql
  src/main/resources/db/migration/V20240627_192__allocation_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-413

#414 PO-393 SQL scripts for COURT_FEES_RECEIVED table
  src/main/resources/db/migration/V20240627_193__court_fees_received.sql
  src/main/resources/db/migration/V20240627_194__court_fee_received_id_seq.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-414
