Repository hmcts/opal-fines-service, pull requests merged in 2025-08, with the labels that each got.

#1024 PO-1641 - Database views for Defendant Account Summary Header and At a Glance
  src/dbUnitTest/createDefendantAccountTest/p_create_defendant_account_unit_tests.sql
  src/dbUnitTest/viewDefAccSummaryHeaderTest/create_view_v_defendant_accounts_header_unit_tests.sql
  src/dbUnitTest/viewDefAccSummaryHeaderTest/create_view_v_defendant_accounts_summary_unit_tests.sql
  src/main/resources/db/migration/allEnvs/V20250731_360__add_version_number_column_to_defendant_accounts.sql
  src/main/resources/db/migration/allEnvs/V20250731_361__create_function_f_floor_months_between.sql
  src/main/resources/db/migration/allEnvs/V20250731_362__create_function_f_arrears.sql
  src/main/resources/db/migration/allEnvs/V20250731_363__create_view_v_defendant_accounts_header.sql
  src/main/resources/db/migration/allEnvs/V20250731_364__create_view_v_defendant_accounts_summary.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1024

#1029 Tech Debt: Enable 'legacy' and 'opal' modes in Integration Tests.
  Jenkinsfile_CNP
  charts/opal-fines-service/values.dev.template.yaml
  src/integrationTest/resources/application-legacy.yaml
  src/integrationTest/resources/application-opal.yaml
  src/main/java/uk/gov/hmcts/opal/config/properties/LaunchDarklyProperties.java
  src/main/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApi.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleApiTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1029

#1032 remove required business_unit_code
  src/main/resources/jsonSchemas/legacy/common-objects/businessUnitSummaryLegacy.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1032

#1033 introduce opal common-objects
  src/main/resources/jsonSchemas/opal/common-objects/accountActivityNote.json
  src/main/resources/jsonSchemas/opal/common-objects/accountStatusReference.json
  src/main/resources/jsonSchemas/opal/common-objects/addressDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/businessUnitSummary.json
  src/main/resources/jsonSchemas/opal/common-objects/commentsAndNotes.json
  src/main/resources/jsonSchemas/opal/common-objects/contactDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/defendantAccountParty.json
  src/main/resources/jsonSchemas/opal/common-objects/employerDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/enforcementOverride.json
  src/main/resources/jsonSchemas/opal/common-objects/enforcementStatusSummary.json
  src/main/resources/jsonSchemas/opal/common-objects/fixedPenaltyTicketDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/individualAlias.json
  src/main/resources/jsonSchemas/opal/common-objects/individualDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/instalmentPeriod.json
  src/main/resources/jsonSchemas/opal/common-objects/languagePreference.json
  src/main/resources/jsonSchemas/opal/common-objects/languagePreferences.json
  src/main/resources/jsonSchemas/opal/common-objects/lastEnforcementAction.json
  src/main/resources/jsonSchemas/opal/common-objects/ljaReference.json
  src/main/resources/jsonSchemas/opal/common-objects/organisationAlias.json
  src/main/resources/jsonSchemas/opal/common-objects/organisationDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/partyDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/paymentStateSummary.json
  src/main/resources/jsonSchemas/opal/common-objects/paymentTermsSummary.json
  src/main/resources/jsonSchemas/opal/common-objects/paymentTermsType.json
  src/main/resources/jsonSchemas/opal/common-objects/vehicleDetails.json
  src/main/resources/jsonSchemas/opal/common-objects/vehicleFixedPenaltyTicketDetails.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1033

#1034 rename account_version to version for alignment
  src/main/resources/jsonSchemas/legacy/getDefendantAccountAtAGlanceLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountHeaderSummaryLegacyResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1034

#1030 PO-1907: Add code for endpoint - Get Defendant Account Header Summary.
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/resources/features/opalMode/PO-183_accountSearchAuthorisation.feature
  src/integrationTest/java/uk/gov/hmcts/opal/TestContainerConfig.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountsControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DiscoDefendantAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/LegacyDefendantAccountsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OpalDefendantAccountsIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_defendant_accounts.sql
  src/main/java/uk/gov/hmcts/opal/controllers/DefendantAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/disco/legacy/LegacyDiscoDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/disco/opal/DiscoDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/disco/proxy/DiscoDefendantAccountServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyAccountDetailsRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyCreateDefendantAccountRequest.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyCreateDefendantAccountResponse.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyGetDefendantAccountHeaderSummaryResponse.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/AccountStatusReference.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/AddressDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/BusinessUnitSummary.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/DefendantDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/IndividualDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/LanguagePreferences.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/OrganisationDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/PaymentStateSummary.java
  src/main/java/uk/gov/hmcts/opal/service/DefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OpalDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/DefendantAccountServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/service/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/GatewayServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDraftAccountPublishTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1030

#1039 PO-1907: Amendments regarding changes to proposed Legacy testing.
  src/integrationTest/java/uk/gov/hmcts/opal/TestContainerConfig.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/LegacyDefendantAccountsIntegrationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1039

#1042 SearchMinorCreditorLegacyResponse XSD and some JSON alignment
  src/main/resources/jsonSchemas/legacy/postMinorCreditorAccountsSearchLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/postMinorCreditorsAccountsSearchLegacyResponse.json
  src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/creditor_accounts.xsd
  src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/creditor_accounts_element.xsd
  src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/defendant.xsd
  src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/error_response.xsd
  src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/search_minor_creditor_accounts_response.xsd
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1042

#1028 PO-1044_b Phase 2 of MAC New procedures and updated p_create_defendant_account
  src/dbUnitTest/createDefendantAccountTest/p_create_defendant_account_unit_tests_v2.sql
  src/functionalTest/java/uk/gov/hmcts/opal/steps/DefendantSearchApiStepDef.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DiscoDefendantAccountControllerIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_defendant_accounts.sql
  src/integrationTest/resources/db/insertData/insert_into_defendants.sql
  src/integrationTest/resources/db/insertData/insert_into_defendants_for_deletion_test.sql
  src/main/java/uk/gov/hmcts/opal/disco/PartyServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/dto/AccountDetailsDto.java
  src/main/java/uk/gov/hmcts/opal/dto/PartyDto.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchCriteria.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchResult.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/PartyDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/AccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/AliasSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/MiscellaneousAccountSearchDto.java
  src/main/java/uk/gov/hmcts/opal/dto/search/PartySearchDto.java
  src/main/java/uk/gov/hmcts/opal/entity/AliasEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/FullNameBuilder.java
  src/main/java/uk/gov/hmcts/opal/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/AliasSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MiscellaneousAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/PartySpecs.java
  src/main/resources/db/migration/allEnvs/V20250805_365__alter_aliases.sql
  src/main/resources/db/migration/allEnvs/V20250805_366__alter_parties.sql
  src/main/resources/db/migration/allEnvs/V20250805_367__p_create_aliases.sql
  src/main/resources/db/migration/allEnvs/V20250805_368__p_create_debtor_details.sql
  src/main/resources/db/migration/allEnvs/V20250805_369__p_create_defendant_parties.sql
  src/main/resources/db/migration/allEnvs/V20250805_370__p_create_fp_offences.sql
  src/main/resources/db/migration/allEnvs/V20250805_371__p_create_defendant_account.sql
  src/test/java/uk/gov/hmcts/opal/disco/legacy/LegacyDiscoDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/disco/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/disco/opal/PartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/dto/AccountSearchDtoTest.java
  src/test/java/uk/gov/hmcts/opal/dto/PartyDtoTest.java
  src/test/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchCriteriaTest.java
  src/test/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountSearchResultTest.java
  src/test/java/uk/gov/hmcts/opal/dto/legacy/DefendantAccountsSearchResultsTest.java
  src/test/java/uk/gov/hmcts/opal/entity/PartyEntityTest.java
  src/test/java/uk/gov/hmcts/opal/repository/jpa/DefendantAccountSpecsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1028

#1043 fix ref from languagePreferenceLegacy to languagePreferencesLegacy
  src/main/resources/jsonSchemas/legacy/getDefendantAccountAtAGlanceLegacyResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1043

#1044 xsds for search_defendant_accounts_response legacy
  src/main/resources/xsd/legacy/searchDefendantAccountsResponse/aliases.xsd
  src/main/resources/xsd/legacy/searchDefendantAccountsResponse/aliases_element.xsd
  src/main/resources/xsd/legacy/searchDefendantAccountsResponse/defendant_account_element.xsd
  src/main/resources/xsd/legacy/searchDefendantAccountsResponse/defendant_accounts.xsd
  src/main/resources/xsd/legacy/searchDefendantAccountsResponse/error_response.xsd
  src/main/resources/xsd/legacy/searchDefendantAccountsResponse/search_defendant_accounts_response.xsd
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1044

#1052 PO-1643_1646 Add account maintenance permissions and create audit amendment fields
  src/main/resources/db/migration/allEnvs/V20250812_372__account_maintenance_note_perm.sql
  src/main/resources/db/migration/allEnvs/V20250812_373__create_audit_amendment_fields.sql
  src/main/resources/db/migration/allEnvs/V20250812_374__populate_audit_amendment_fields.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1052

#1051 PO-1907: Add Placeholder code for XML Schema validation of Legacy Responses.
  src/main/java/uk/gov/hmcts/opal/service/legacy/GatewayService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDraftAccountPublish.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayService.java
  src/main/java/uk/gov/hmcts/opal/util/XmlUtil.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/GatewayServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/XmlUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1051

#1060 rename party_id to defendant_account_party_id
  src/main/resources/jsonSchemas/legacy/common-objects/partyDetailsLegacy.json
  src/main/resources/jsonSchemas/opal/common-objects/partyDetails.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1060

#1056 Add remove enforcement actions schemas
  src/main/resources/jsonSchemas/legacy/addDefendantAccountEnforcementLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/addDefendantAccountEnforcementLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/removeDefendantAccountEnforcementHoldLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/removeDefendantAccountEnforcementHoldLegacyResponse.json
  src/main/resources/jsonSchemas/opal/common-objects/paymentTerms.json
  src/main/resources/jsonSchemas/opal/defendant-account/addDefendantAccountEnforcementRequest.json
  src/main/resources/jsonSchemas/opal/defendant-account/removeDefendantAccountEnforcementHoldRequest.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1056

#1058 PO-2070 - Removed XFER from creditor_account_balance calculation
  src/main/resources/db/migration/allEnvs/V20250813_375__amend_view_v_search_minor_creditor_accounts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1058

#1080 Update enforcement common-object structure
  src/main/resources/jsonSchemas/legacy/common-objects/enforcementOverrideLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/enforcementOverrideResultReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/enforcerReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/individualAliasLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/ljaReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/organisationAliasLegacy.json
  src/main/resources/jsonSchemas/opal/common-objects/enforcementOverride.json
  src/main/resources/jsonSchemas/opal/common-objects/enforcementOverrideResultReference.json
  src/main/resources/jsonSchemas/opal/common-objects/enforcerReference.json
  src/main/resources/jsonSchemas/opal/common-objects/individualAlias.json
  src/main/resources/jsonSchemas/opal/common-objects/ljaReference.json
  src/main/resources/jsonSchemas/opal/common-objects/organisationAlias.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1080

#1082 Update Defendant Account Header Summary schema inline with spec
  src/main/resources/jsonSchemas/opal/defendant-account/getDefendantAccountHeaderSummaryResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1082

#1085 partyChanges
  src/main/resources/jsonSchemas/legacy/common-objects/partyDetailsLegacy.json
  src/main/resources/jsonSchemas/opal/common-objects/partyDetails.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1085

#1115 PO-1853 - Added reason_for_extension to payment_terms. PO-1855 - Added payment_card_requested_by_name to defendant_accounts
  src/main/resources/db/migration/allEnvs/V20250828_392__alter_payment_terms_add_reason_for_extension.sql
  src/main/resources/db/migration/allEnvs/V20250828_393__alter_defendant_accounts_add_payment_card_requested_by_name.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1115

#1110 PR_refactor_legacy_common_dtos
  src/main/java/uk/gov/hmcts/opal/dto/common/AccountStatusReference.java
  src/main/java/uk/gov/hmcts/opal/dto/common/BusinessUnitSummary.java
  src/main/java/uk/gov/hmcts/opal/dto/common/IndividualAlias.java
  src/main/java/uk/gov/hmcts/opal/dto/common/IndividualDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/common/OrganisationAlias.java
  src/main/java/uk/gov/hmcts/opal/dto/common/OrganisationDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/common/PartyDetails.java
  src/main/java/uk/gov/hmcts/opal/dto/common/PaymentStateSummary.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyGetDefendantAccountHeaderSummaryResponse.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/common/LegacyPartyDetails.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountService.java
  src/main/resources/jsonSchemas/legacy/common-objects/partyDetailsLegacy.json
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1110
