Repository hmcts/opal-fines-service, pull requests merged in 2025-01, with the labels that each got.

#688 PO-1076 put back reverted pull request so that opal sequences start n…
  src/main/resources/db/migration/allEnvs/V20250103_292__restart_sequences.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-688

#689 PO-972 Create unique index on CONFIGURATIONS_ITEMS table for item_nam…
  src/main/resources/db/migration/allEnvs/V20250106_293__configuration_items_index.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-689

#695 Null json schema update
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/account.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/adultAccount.json
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/resources/jsonSchemas/account.json
  src/main/resources/jsonSchemas/addDraftAccountRequest.json
  src/main/resources/jsonSchemas/createDefendantAccountRequest.json
  src/main/resources/jsonSchemas/getDraftAccountResponse.json
  src/main/resources/jsonSchemas/getDraftAccountsResponse.json
  src/main/resources/jsonSchemas/replaceDraftAccountRequest.json
  src/main/resources/jsonSchemas/timelineData.json
  src/main/resources/jsonSchemas/updateDraftAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-695

#696 remove required status from nullable fields in json schema
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/resources/jsonSchemas/account.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-696

#694 PO-1064 Recreate configuration items data to use the recreated config…
  src/main/resources/db/migration/allEnvs/V20250109_294__reload_preferences_configuration_items.sql
  src/main/resources/db/migration/allEnvs/V20250109_295__reload_interfaces_configuration_items.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-694

#700 Method rename to show explicit conversion to UTC date time.
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/util/DateTimeUtils.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
Labels: ns:opal, prd:opal

#701 Add a couple of log messages for welcome endpoint.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/RootController.java
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal

#704 PO-997. Draft Account PATCH to include validated_by_name.
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountSummaryDto.java
  src/main/java/uk/gov/hmcts/opal/dto/UpdateDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-704

#703 PO-970 Alter the REPORTS related, DOCUMENTS, DOCUMENT_INSTANCES, RESU…
  src/main/resources/db/migration/allEnvs/V20250114_298__drop_document_tables.sql
  src/main/resources/db/migration/allEnvs/V20250114_299__documents.sql
  src/main/resources/db/migration/allEnvs/V20250114_300__document-instances.sql
  src/main/resources/db/migration/allEnvs/V20250114_301__restore_account_transfers_fk.sql
  src/main/resources/db/migration/allEnvs/V20250114_302__result_documents.sql
  src/main/resources/db/migration/allEnvs/V20250114_303__modify_report_tables.sql
Labels: ns:opal, prd:opal

#708 Add etl db's to staging env
  infrastructure/main.tf
  infrastructure/stg.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/opal/SingletonPostgreSQLContainer.java
Labels: ns:opal, prd:opal, enable_keep_helm

#707 PO-1142 Delete mock data used for Discovery plus and no longer required
  charts/opal-fines-service/values.stg.template.yaml
  src/functionalTest/resources/features/opalMode/PO-183_accountSearchAuthorisation.feature
  src/functionalTest/resources/features/opalMode/defendantAccountDetailsOpal.feature
  src/functionalTest/resources/features/opalMode/defendantAccountSearchOpal.feature
  src/main/resources/db/migration/devOnly/V20250117_278__delete_discovery_mock_data.sql
  src/main/resources/db/migration/stgOnly/V20250117_001__delete_discovery_mock_data.sql
Labels: ns:opal, prd:opal

#718 PO-1148. Add the Spring Boot setting for OSIV enable/disable and relevant code changes.
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountDeleteSteps.java
  src/functionalTest/java/uk/gov/hmcts/opal/utils/DataCleanUp.java
  src/main/java/uk/gov/hmcts/opal/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal

#719 Introduce test container adn update draft accounts integ test to use it
  src/integrationTest/java/uk/gov/hmcts/opal/AbstractIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/SingletonPostgreSQLContainer.java
  src/integrationTest/java/uk/gov/hmcts/opal/TestContainerConfig.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTransientErrorsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/database/FlywayIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/openapi/OpenAPIPublisherTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/db/draftAccounts/insert_into_draft_accounts.sql
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-719
