Repository hmcts/opal-fines-service, pull requests merged in 2025-06, with the labels that each got.

#890 Po 1447 ref def refactor part 3
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ImpositionControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/MajorCreditorController.java
  src/main/java/uk/gov/hmcts/opal/controllers/develop/CreditorAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/search/LegacyCreditorAccountSearchResults.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/search/LegacyMajorCreditorSearchResults.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/MajorCreditorReferenceData.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/MajorCreditorReferenceDataResults.java
  src/main/java/uk/gov/hmcts/opal/entity/ImpositionEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/creditoraccount/AbstractCreditorAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/creditoraccount/CreditorAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/creditoraccount/CreditorAccountEntityLite.java
  src/main/java/uk/gov/hmcts/opal/entity/majorcreditor/AbstractMajorCreditorEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/majorcreditor/MajorCreditorEntity.java
  src/main/java/uk/gov/hmcts/opal/mapper/MajorCreditorMapper.java
  src/main/java/uk/gov/hmcts/opal/repository/CreditorAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/MajorCreditorRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CreditorAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ImpositionSpecs.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/MajorCreditorSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/CreditorAccountServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyCreditorAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/CreditorAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/EnforcerService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MajorCreditorService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/CreditorAccountServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/develop/CreditorAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyCreditorAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CreditorAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/CreditorAccountServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-890

#895 PO-1047: Integration Tests tidy and minor changes for Test Containers.
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTransientErrorsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/EnforcerControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/integrationTest/resources/db/insertData/insert_into_offences.sql
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-895

#897 PO-1820 - added integration tests for PATCH draft account permissions…
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-897

#880 PO-1698 add enforcement-related columns to RESULTS table
  src/main/resources/db/migration/allEnvs/V20250528_310__add_columns_to_results.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-880

#904 new db migration folders for demo and perfTest scripts
  src/main/resources/db/migration/demoOnly/deleteMe
  src/main/resources/db/migration/perfTestOnly/deleteMe
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-904

#907 New flyway locations for envs
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-907

#909 PO-971 insert reference data into DOCUMENTS, RESULTS, RESULT_DOCUMENT…
  src/functionalTest/resources/features/opalMode/results/PO-703_results.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/main/resources/db/migration/allEnvs/V20250610_312__insert_documents.sql
  src/main/resources/db/migration/allEnvs/V20250610_313__insert_results.sql
  src/main/resources/db/migration/allEnvs/V20250610_314__insert_results_documents.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-909

#914 Po 1672 1673 schemas for view defendant fixed penalty
  src/main/resources/jsonSchemas/getDefendantAccountFixedPenaltyResponse.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountFixedPenaltyLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountFixedPenaltyLegacyResponse.json
  src/test/java/uk/gov/hmcts/opal/json/DefendantAccountFixedPenaltyTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-914

#916 PO-1880 insert reference data into DOCUMENTS, RESULTS, RESULT_DOCUMENTS tables
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-832_getDraftAccountsNotSubBy.feature
  src/functionalTest/resources/features/opalMode/results/PO-703_results.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/main/resources/db/migration/allEnvs/V20250616_315__insert_documents.sql
  src/main/resources/db/migration/allEnvs/V20250616_316__insert_results.sql
  src/main/resources/db/migration/allEnvs/V20250616_317__insert_results_documents.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-916

#924 PO-1050: Publish Draft Account to Defendant Account, Legacy path.
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTransientErrorsIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/annotation/CheckAcceptHeader.java
  src/main/java/uk/gov/hmcts/opal/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/convert/DraftAccountStatusConverter.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountSummaryDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/dto/ToXmlString.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyCreateDefendantAccountRequest.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/LegacyCreateDefendantAccountResponse.java
  src/main/java/uk/gov/hmcts/opal/entity/draft/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/draft/DraftAccountSnapshots.java
  src/main/java/uk/gov/hmcts/opal/entity/draft/DraftAccountStatus.java
  src/main/java/uk/gov/hmcts/opal/entity/draft/TimelineData.java
  src/main/java/uk/gov/hmcts/opal/mapper/DraftAccountMapper.java
  src/main/java/uk/gov/hmcts/opal/repository/DraftAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DraftAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/DraftAccountPublishInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/GatewayService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyDraftAccountPublish.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayResponseException.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountPublish.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactions.java
  src/main/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactionsProxy.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/DraftAccountPublishProxy.java
  src/main/java/uk/gov/hmcts/opal/util/VersionUtils.java
  src/main/java/uk/gov/hmcts/opal/util/XmlUtil.java
  src/main/resources/application.yaml
  src/main/resources/jsonSchemas/legacy/createDefendantAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/entity/draft/TimelineDataTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/GatewayServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyDraftAccountPublishTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyGatewayServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyNoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyPartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyTestsBase.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/MockRestClient.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactionsTest.java
  src/test/java/uk/gov/hmcts/opal/util/VersionUtilsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-924

#938 refactor: disable flakey test, coverage in integration tests
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-832_getDraftAccountsNotSubBy.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-938

#940 PO-1433 create the PROSECUTORS table in opal fines database
  src/main/resources/db/migration/allEnvs/V20250625_322__prosecutors.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-940

#942 fix(deps): update dependency org.springdoc:springdoc-openapi-starter-webmvc-ui to v2.8.9
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DefendantAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTransientErrorsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/EnforcerControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/LocalJusticeAreaControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ImpositionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogActionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/TillControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DefendantAccountService.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectServiceTest.java
  src/test/java/uk/gov/hmcts/opal/authorisation/aspect/AuthorizationAspectTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/launchdarkly/FeatureToggleAspectTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/MockRestClient.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpInboundServiceTest.java
  src/test/java/uk/gov/hmcts/opal/sftp/SftpOutboundServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-942

#944 fix(deps): update dependency org.springframework.cloud:spring-cloud-dependencies to v2025.0.0
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ConfigurationItemControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/ImpositionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogActionControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/LogAuditDetailControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/develop/TillControllerIntegrationTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/AccountTransferServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/AliasServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/AmendmentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ApplicationFunctionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BacsPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ChequeServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CommittalWarrantProgressServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ConfigurationItemServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ControlTotalServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CourtFeeServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CreditorAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CreditorTransactionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DebtorDetailServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DefendantTransactionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DocumentInstanceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DocumentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/EnforcementServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/EnforcerServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/FixedPenaltyOffenceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/HmrcRequestServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ImpositionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/LocalJusticeAreaServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/LogActionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/LogAuditDetailServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MisDebtorServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MiscellaneousAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/NoteServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/OffenceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/PartyServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/PaymentInServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/PaymentTermsServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/PrisonServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ReportEntryServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ReportInstanceServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/StandardLetterServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/SuspenseAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/SuspenseItemServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/SuspenseTransactionServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/TemplateMappingServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/TemplateServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/TillServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserEntitlementServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/UserServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/WarrantRegisterServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactionsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-944

#945 fix(deps): update dependency org.apache.xmlgraphics:fop-core to v2.11
  build.gradle
  src/test/java/uk/gov/hmcts/opal/service/print/PrintServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-945
