Repository hmcts/opal-fines-service, pull requests merged in 2025-07, with the labels that each got.

#950 PO-1792: Add the JSON schema for GET Prosecutors reference data.
  src/main/java/uk/gov/hmcts/opal/SchemaPaths.java
  src/main/resources/jsonSchemas/opal/reference-data/getProsecutorsRefDataResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-950

#955 PO-1787: Get Prosecutors API Endpoint
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ProsecutorControllerIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_prosecutors.sql
  src/main/java/uk/gov/hmcts/opal/controllers/ProscutorController.java
  src/main/java/uk/gov/hmcts/opal/dto/ToJsonString.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/ProsecutorReferenceData.java
  src/main/java/uk/gov/hmcts/opal/dto/response/RefDataResponse.java
  src/main/java/uk/gov/hmcts/opal/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/draft/TimelineData.java
  src/main/java/uk/gov/hmcts/opal/mapper/ProsecutorMapper.java
  src/main/java/uk/gov/hmcts/opal/repository/ProsecutorRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ProsecutorSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ProsecutorService.java
  src/test/java/uk/gov/hmcts/opal/controllers/ProsecutorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ProsecutorServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-955

#956 PO-1439 and PO-1568 New index and updated comments on DRAFT_ACCOUNTS table
  src/main/resources/db/migration/allEnvs/V20250627_325__add_index_draft_accounts.sql
  src/main/resources/db/migration/allEnvs/V20250627_326__update_comments_draft_accounts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-956

#958 PO-1787: Minor changes to the Prosecutors Integration Tests.
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ProsecutorControllerIntegrationTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-958

#954 Fixed gradle warnings
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-954

#965 Add new common-schemas, update existing schemas and remove test for l…
  src/main/resources/jsonSchemas/legacy/addNoteLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/common-objects/accountActivityNoteLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/accountStatusReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/addressDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/businessUnitSummaryLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/commentsAndNotesLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/contactDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/courtReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/defendantDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/documentLanguagePreferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/employerDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/enforcementOverrideLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/enforcementStatusSummaryLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/enforcerReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/fixedPenaltyTicketDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/hearingLanguagePreferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/individualAliasLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/instalmentPeriodLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/languagePreferencesLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/lastEnforcementActionLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/ljaReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/organisationAliasLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/paymentStateSummaryLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/paymentTermsSummaryLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/paymentTermsTypeLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/resultReferenceLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/resultResponsesLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/vehicleDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/vehicleFixedPenaltyTicketDetailsLegacy.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountAtAGlanceLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountHeaderSummaryLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountPartyLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/replaceDefendantAccountPartyLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/replaceDefendantAccountPartyLegacyResponse.json
  src/test/java/uk/gov/hmcts/opal/json/legacy/DefendantAccountPartyLegacySchemaTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-965

#966 New add note legacy request schema
  src/main/resources/jsonSchemas/legacy/addNoteLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/common-objects/accountActivityNoteLegacy.json
  src/test/java/uk/gov/hmcts/opal/json/DefendantAccountSummarySchemasTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-966

#964 New legacy schemas
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-831_patchDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/account.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/adultAccount.json
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-591_createDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-936-postDraftAccountSubmittedByName.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsSingle/PO-559_getDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-830_putDraftAccountAuthorisation.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/timelineJson/default.json
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_draft_accounts.sql
  src/main/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationService.java
  src/test/java/uk/gov/hmcts/opal/json/legacy/DefendantAccountPartyLegacySchemaTests.java
  src/test/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-964

#984 Legacy schema fixes
  src/main/resources/jsonSchemas/legacy/common-objects/accountLegacy.json
  src/main/resources/jsonSchemas/legacy/common-objects/paymentTermsSummaryLegacy.json
  src/main/resources/jsonSchemas/legacy/createDefendantAccountLegacyRequest.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-984

#978 PO-899 Added scripts relating to create account number functions including new table
  src/dbUnitTest/accountNumberTest/f_get_account_number_unit_tests.sql
  src/integrationTest/resources/db/insertData/insert_into_defendants_for_deletion_test.sql
  src/main/resources/db/migration/allEnvs/V20250710_329__f_get_check_letter.sql
  src/main/resources/db/migration/allEnvs/V20250710_330__create_account_number_index.sql
  src/main/resources/db/migration/allEnvs/V20250710_331__f_get_account_number.sql
  src/main/resources/db/migration/allEnvs/V20250710_332__add_unique_index_defendant_accounts.sql
  src/main/resources/db/migration/allEnvs/V20250710_333__add_unique_index_creditor_accounts.sql
  src/main/resources/db/migration/allEnvs/V20250710_334__add_unique_index_miscellaneous_accounts.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-978

#985 UpdateDefendantAccountLegacyRequest Schema and test
  src/main/resources/jsonSchemas/legacy/common-objects/collectionOrderLegacy.json
  src/main/resources/jsonSchemas/legacy/updateDefendantAccountLegacyRequest.json
  src/main/resources/jsonSchemas/opal/defendant-account/updateDefendantAccountLegacyRequest.json
  src/test/java/uk/gov/hmcts/opal/json/legacy/UpdateDefendantAccountLegacySchemaTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-985

#987 Add business_unit_id and business_unit_user_id to request
  src/main/resources/jsonSchemas/legacy/updateDefendantAccountLegacyRequest.json
  src/test/java/uk/gov/hmcts/opal/json/legacy/UpdateDefendantAccountLegacySchemaTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-987

#991 updateDefendantAccountLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/updateDefendantAccountLegacyResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-991

#975 Dev env setup
  .github/workflows/flyway-dupe-checker.yml
  Jenkinsfile_CNP
  bin/ci/flyway-dupe-checker.sh
  bin/db/db-stg-to-local.sh
  bin/secrets/secrets-stg-environment.sh
  charts/opal-fines-service/Chart.yaml
  charts/opal-fines-service/values.dev.template.yaml
  charts/opal-fines-service/values.yaml
Labels: ns:opal, prd:opal, enable_keep_helm, enable_opal_front_end, rel:opal-fines-service-pr-975

#997 Updated role name
  charts/opal-fines-service/values.dev.template.yaml
Labels: ns:opal, prd:opal, enable_keep_helm, rel:opal-fines-service-pr-997, enable_opal_front_end:pr-1621

#995 PO-1044_a Stored procedure to create defendant account and unit tests
  charts/opal-fines-service/values.dev.template.yaml
  src/dbUnitTest/interfaceFiles/p_create_defendant_account_unit_tests.sql
  src/main/resources/db/migration/allEnvs/V20250721_349__p_create_defendant_account.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-995

#1002 PO-991: Draft Account publish with Opal Stored Proc.
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/accountJson/adultAccount.json
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_draft_accounts.sql
  src/main/java/uk/gov/hmcts/opal/entity/draft/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/draft/StoredProcedureNames.java
  src/main/java/uk/gov/hmcts/opal/mapper/DraftAccountMapper.java
  src/main/java/uk/gov/hmcts/opal/repository/DraftAccountRepository.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountPublish.java
  src/main/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactions.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountPublishTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactionsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1002

#1020 Implement defendant account deletion step
  src/functionalTest/java/uk/gov/hmcts/opal/steps/defendantaccount/DefendantAccountDeleteStep.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-1020
