Repository hmcts/opal-fines-service, pull requests merged in 2025-02, with the labels that each got.

#720 PO-1148: Some code tidy relaated to JPA, Transaction boundaries, etc
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTransientErrorsIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitUserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserEntitlementService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/UserService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/proxy/DraftAccountServiceProxy.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-720

#723 PO--1148: Remove some deprecated warnings from the Java build process.
  build.gradle
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/FileHandlerJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/job/LogRetentionJobTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/JobServiceTest.java
  src/test/java/uk/gov/hmcts/opal/scheduler/service/LogRetentionServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-723

#728 add postgres extension postgres_fdw to tf
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:opal, prd:opal, stg/destroy, rel:opal-fines-service-pr-728

#732 PO-1148 - Capture some idiomatic coding for handling optimistic locking.
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPutSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-746_putDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/replaceDraftAccount/PO-830_putDraftAccountAuthorisation.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/resources/db/draftAccounts/insert_into_draft_accounts.sql
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/dto/AddDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/DraftAccountResponseDto.java
  src/main/java/uk/gov/hmcts/opal/dto/ReplaceDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/UpdateDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/Versioned.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/exception/ResourceConflictException.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/util/VersionUtils.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/devOnly/V20250206_279__column_version_number.sql
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-732

#734 PO-1148: Some more 'base' code for optimistic locking.
  src/functionalTest/java/uk/gov/hmcts/opal/steps/draftaccount/DraftAccountPatchSteps.java
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-745_patchDraftAccount.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/PO-831_patchDraftAccountAuthorisation.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/resources/db/draftAccounts/insert_into_draft_accounts.sql
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/opal/dto/ReplaceDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/dto/UpdateDraftAccountRequestDto.java
  src/main/java/uk/gov/hmcts/opal/entity/DraftAccountEntity.java
  src/main/java/uk/gov/hmcts/opal/exception/ResourceConflictException.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/proxy/DraftAccountServiceProxy.java
  src/main/java/uk/gov/hmcts/opal/service/opal/util/VersionUtils.java
  src/main/java/uk/gov/hmcts/opal/util/JsonPathUtil.java
  src/main/java/uk/gov/hmcts/opal/util/VersionUtils.java
  src/main/java/uk/gov/hmcts/opal/util/Versioned.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/util/VersionUtilsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-734

#740 flyway
  charts/opal-fines-service/values.stg.template.yaml
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-740

#702 New test-support endpoint to call legacy gob test function
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyService.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyTestingSupportService.java
  src/test/java/uk/gov/hmcts/opal/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyServiceTest.java
Labels: ns:opal, prd:opal, stg/no-changes, enable_keep_helm, rel:opal-fines-service-pr-702
