Repository hmcts/opal-fines-service, pull requests merged in 2025-05, with the labels that each got.

#800 OpalPO-1445: Add optional cjs_code filter to GET /offences
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/OffenceController.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/OffenceSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenceService.java
  src/main/resources/jsonSchemas/getOffencesRefDataResponse.json
  src/test/java/uk/gov/hmcts/opal/controllers/OffenceControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/OffenceServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-800

#817 PO-1061 error detail and logging refactor
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/opal/controllers/advice/GlobalExceptionHandlerTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-817

#820 PO-1445: Follow-up fix – added missing test for cjs_code filter
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/OffenceControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/service/opal/OffenceService.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-820

#809 PO-1638: Fix Draft Account schema validation issues.
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/resources/jsonSchemas/account.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-809

#828 remove jitpack dependencies
  build.gradle
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-828

#824 PO-938 Populate COURTS reference data for Opal Development using corresponding GoB Phase 1 system test data.
  src/main/resources/db/migration/allEnvs/V20250422_307__add_lja_type_column.sql
  src/main/resources/db/migration/allEnvs/V20250424_308__drop_local_justice_area_constraint.sql
  src/main/resources/db/migration/allEnvs/V20250425_309__insert_local_justice_areas.sql
  src/main/resources/db/migration/devOnly/V20250506_279__insert_courts_data.sql
  src/main/resources/db/migration/devOnly/V20250507_280__add_local_justice_area_constraint.sql
  src/main/resources/db/migration/stgOnly/V20250506_002__insert_courts_data.sql
  src/main/resources/db/migration/stgOnly/V20250507_003__add_local_justice_area_constraint.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-824

#825 PO-1019: Add validation for submitted_by, submitted_by_name, and acco…
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/addDraftAccount/PO-936-postDraftAccountSubmittedByName.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/draftAccounts/getDraftAccountsMulti/PO-829_getDraftAccountsAuthorization.feature
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/dto/AddDraftAccountRequestDto.java
  src/main/resources/jsonSchemas/addDraftAccountRequest.json
Labels: ns:opal, prd:opal

#841 New schemas and test
  src/main/resources/jsonSchemas/addNoteLegacyRequest.json
  src/main/resources/jsonSchemas/addNoteRequest.json
  src/main/resources/jsonSchemas/getDefendantAccountAtAGlanceResponse.json
  src/main/resources/jsonSchemas/getDefendantAccountHeaderSummaryResponse.json
  src/main/resources/jsonSchemas/getDefendantAccountLegacyRequest.json
  src/main/resources/jsonSchemas/updateDefendantAccountLegacyRequest.json
  src/main/resources/jsonSchemas/updateDefendantAccountRequest.json
  src/test/java/uk/gov/hmcts/opal/json/DefendantAccountSummarySchemasTests.java
Labels: ns:opal, prd:opal, stg/no-changes, rel:opal-fines-service-pr-841

#846 PO-946: Add new query params to GET Draft Account Summaries
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTransientErrorsIntegrationTest.java
  src/integrationTest/resources/db/draftAccounts/insert_into_draft_accounts.sql
  src/main/java/uk/gov/hmcts/opal/controllers/DraftAccountController.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/DraftAccountSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/opal/DraftAccountService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactions.java
  src/test/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/DraftAccountServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/jpa/DraftAccountTransactionsTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-846

#847 PO-939_940 insert reference data for Enforcers and Prisons
  src/main/resources/db/migration/devOnly/V20250515_281__insert_enforcers_data.sql
  src/main/resources/db/migration/devOnly/V20250515_282__insert_prison_data.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-847

#845 PO-1447-results-refactor-with-lite-entity
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/ResultControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/opal/controllers/ResultController.java
  src/main/java/uk/gov/hmcts/opal/dto/legacy/search/LegacyResultSearchResults.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/ResultReferenceData.java
  src/main/java/uk/gov/hmcts/opal/dto/reference/ResultReferenceDataResponse.java
  src/main/java/uk/gov/hmcts/opal/entity/result/AbstractResultEntity.java
  src/main/java/uk/gov/hmcts/opal/entity/result/ResultEntityFull.java
  src/main/java/uk/gov/hmcts/opal/entity/result/ResultEntityLite.java
  src/main/java/uk/gov/hmcts/opal/mapper/ResultMapper.java
  src/main/java/uk/gov/hmcts/opal/repository/ResultFullRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/ResultLiteRepository.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/ResultSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/ResultServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/opal/ResultService.java
  src/test/java/uk/gov/hmcts/opal/controllers/ResultControllerTest.java
  src/test/java/uk/gov/hmcts/opal/mapper/ResultMapperTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/ResultServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-845

#850 PO-1047: Convert existing Business Unit Integration Tests over to using Test Containers
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/BusinessUnitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/DraftAccountControllerIntegrationTest.java
  src/integrationTest/resources/db/draftAccounts/insert_into_business_units.sql
  src/main/java/uk/gov/hmcts/opal/controllers/BusinessUnitController.java
  src/main/java/uk/gov/hmcts/opal/service/opal/BusinessUnitService.java
  src/main/resources/jsonSchemas/getBusinessUnitsRefDataResponse.json
  src/test/java/uk/gov/hmcts/opal/service/opal/BusinessUnitServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-850

#849 PO-941 insert reference data for major creditors
  src/functionalTest/java/uk/gov/hmcts/opal/steps/RefDataStepDef.java
  src/functionalTest/resources/features/opalMode/majorCreditorFeatures.feature
  src/functionalTest/resources/features/opalMode/manualAccountCreation/PO-421_majorCreditorsReturnBUData.feature
  src/functionalTest/resources/features/opalMode/refDataFeatures.feature
  src/main/resources/db/migration/devOnly/V20250521_283__insert_major_creditors_data.sql
  src/main/resources/db/migration/stgOnly/V20250521_004__insert_major_creditors_data.sql
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-849

#856 Schema update, remove version from get request
  src/main/resources/jsonSchemas/legacy/getDefendantAccountLegacyRequest.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-856

#861 Schema update, add business_unit_id to legacy request
  src/main/resources/jsonSchemas/legacy/addNoteLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountLegacyRequest.json
  src/test/java/uk/gov/hmcts/opal/json/DefendantAccountSummarySchemasTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-861

#862 PO-901: Refactor schema validation tests to use JsonNode instead of S…
  src/main/java/uk/gov/hmcts/opal/service/opal/JsonSchemaValidationService.java
  src/test/java/uk/gov/hmcts/opal/json/DefendantAccountSummarySchemasTests.java
Labels: ns:opal, prd:opal, stg/no-changes, rel:opal-fines-service-pr-862

#864 addNoteLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/addNoteLegacyResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-864

#866 PO-1047: Convert Court Integration Tests to using Test Containers
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/CourtControllerIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_courts.sql
  src/main/java/uk/gov/hmcts/opal/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/opal/repository/jpa/CourtSpecs.java
  src/main/java/uk/gov/hmcts/opal/service/CourtServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyCourtService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/CourtService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/CourtServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyCourtServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/CourtServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-866

#870 Po 1611 view and amend defendant pg schemas
  src/main/resources/jsonSchemas/getDefendantAccountPartyResponse.json
  src/main/resources/jsonSchemas/legacy/addNoteLegacyRequest.json
  src/main/resources/jsonSchemas/legacy/getDefendantAccountPartyLegacyResponse.json
  src/main/resources/jsonSchemas/legacy/replaceDefendantAccountPartyLegacyRequest.json
  src/main/resources/jsonSchemas/replaceDefendantAccountPartyRequest.json
  src/test/java/uk/gov/hmcts/opal/json/DefendantAccountPartySchemaTests.java
  src/test/java/uk/gov/hmcts/opal/json/legacy/DefendantAccountPartyLegacySchemaTests.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-870

#875 introduce replace defendant account party legacy response
  src/main/resources/jsonSchemas/legacy/replaceDefendantAccountPartyLegacyResponse.json
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-875

#879 PO-1047: Convert 'Welcome' Integration Test to using Test Containers
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/GetWelcomeTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-879

#886 PO-1047: Convert Major Creditor Integration Tests to using Test Containers
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerIntegrationTest.java
  src/integrationTest/resources/db/insertData/insert_into_creditor_accounts.sql
  src/main/java/uk/gov/hmcts/opal/controllers/MajorCreditorController.java
  src/main/java/uk/gov/hmcts/opal/service/MajorCreditorServiceInterface.java
  src/main/java/uk/gov/hmcts/opal/service/legacy/LegacyMajorCreditorService.java
  src/main/java/uk/gov/hmcts/opal/service/opal/MajorCreditorService.java
  src/main/java/uk/gov/hmcts/opal/service/proxy/MajorCreditorServiceProxy.java
  src/test/java/uk/gov/hmcts/opal/controllers/MajorCreditorControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/legacy/LegacyMajorCreditorServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/opal/MajorCreditorServiceTest.java
  src/test/java/uk/gov/hmcts/opal/service/proxy/MajorCreditorServiceProxyTest.java
Labels: ns:opal, prd:opal, rel:opal-fines-service-pr-886
